<template>
  <v-card
    :min-width="330"
  >
    <v-card-text>
      <v-row justify="center">
        <v-avatar
          class="employee-photo"
          size="150"
        >
          <v-img
            v-if="isPhotoExists"
            :src="employeePhotoApiUrl + employee.photoFileName"
          />
          <v-img
            v-else
            :src="require('@/assets/depault_employee_photo.jpg')"
          />
        </v-avatar>
      </v-row>
      <v-row dense>
        <div class="db">
          <v-icon>mdi-account-edit</v-icon>
          <span class="font-weight-light title"> {{ employee.firstName }} </span>
        </div>
      </v-row>
      <v-row dense>
        <div class="db">
          <v-icon>mdi-account-edit</v-icon>
          <span class="font-weight-light title"> {{ employee.lastName }} </span>
        </div>
      </v-row>
      <v-row dense>
        <div class="db">
          <v-icon>mdi-account-edit</v-icon>
          <span class="font-weight-light title"> {{ employee.patronymic }} </span>
        </div>
      </v-row>
      <v-row dense>
        <div class="db">
          <v-icon>mdi-briefcase-check</v-icon>
          <span class="font-weight-light title"> {{ employee.position }} </span>
        </div>
      </v-row>
      <v-row dense>
        <div class="db">
          <v-icon>mdi-phone</v-icon>
          <span class="font-weight-light title"> {{ employee.phoneNumber }} </span>
        </div>
      </v-row>
      <v-row dense>
        <div class="db">
          <v-chip
            :color="employee.status.color"
            dark
          >
          <span class="font-weight-light title">
            {{ employee.status.status }}
          </span>
          </v-chip>
        </div>
      </v-row>
      <v-row dense>
        <div class="db">
          <v-icon>mdi-domain</v-icon>
          <span class="font-weight-light title"> {{ employee.department.title }} </span>
        </div>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import ENV from '~/env.js'
export default {
  name: 'EmployeeInfoCardV2',
  props: {
    employee: {
      type: Object,
      required: true
    }
  },
  computed: {
    isPhotoExists () {
      return !!this.employee.photoFileName
    },
    employeePhotoApiUrl () {
      return ENV.EMPLOYEE_PHOTO_API_URL
    }
  }
}
</script>

<style scoped>
.db {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.employee-photo {
  margin-top: 7px;
  margin-bottom: 7px;
}
</style>
