<template>
  <v-card width="500">
    <v-card-title class="font-weight-light headline">
      Permission
    </v-card-title>
    <v-card-text>
      <v-row dense>
        <v-col cols="5" lg="4">
          <span class="font-weight-light title">Resource:</span>
        </v-col>
        <v-col cols="7">
          <span class="font-weight-light title">{{ permission.resource.title }}</span>
        </v-col>
      </v-row>
      <v-row dense>
        <v-col cols="5" lg="4">
          <span class="font-weight-light title">Status:</span>
        </v-col>
        <v-col cols="7">
          <span class="font-weight-light title">{{ permission.status.status }}</span>
        </v-col>
      </v-row>
      <v-row dense>
        <v-col cols="5" lg="4">
          <span class="font-weight-light title">Login:</span>
        </v-col>
        <v-col cols="7">
          <span class="font-weight-light title">{{ permission.credential.login }}</span>
        </v-col>
      </v-row>
      <v-row dense>
        <v-col cols="5" lg="4">
          <span class="font-weight-light title">Password:</span>
        </v-col>
        <v-col cols="7">
          <span class="font-weight-light title">{{ permission.credential.password }}</span>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'PermissionCard',
  props: {
    permission: {
      required: true,
      type: Object
    }
  }
}
</script>

<style scoped>

</style>
