<template>
  <v-card>
    <v-card-title primary-title>
      <v-img
        :src="require('@/assets/MainLogo.jpg')"
        width="90"
        height="90"
        contain
      />
    </v-card-title>
    <v-card-text>
      <SignInForm />
    </v-card-text>
  </v-card>
</template>

<script>
const SignInForm = () => import('~/components/user/signin/SignInForm.vue')
export default {
  name: 'SignIn',
  components: {
    SignInForm
  }
}
</script>

<style scoped>

</style>
