<template>
  <div>
    <v-form ref="signinform" v-model="isValid" lazy-validation>
      <v-text-field
        v-model="login"
        :rules="loginRules"
        :label="this.$t('signinForm.login')"
        required
        outlined
      />
      <v-text-field
        v-model="password"
        :append-icon="showPassword ? 'visibility' : 'visibility_off'"
        :type="showPassword ? 'text' : 'password'"
        :rules="passwordRules"
        :label="this.$t('signinForm.password')"
        required
        outlined
        @click:append="showPassword = !showPassword"
      />
    </v-form>
    <v-btn
      block
      outlined
      tile
      color="#1565C1"
      @click="signin"
    >
      Войти
    </v-btn>
  </div>
</template>

<script>
export default {
  name: 'SignInForm',
  data: () => ({
    showPassword: false,
    login: '',
    password: '',
    isValid: true,
    loginRules: [],
    passwordRules: []
  }),
  methods: {
    signin () {
      this.$auth.loginWith('local', {
        data: {
          username: this.login,
          password: this.password
        }
      }).then((res) => {
        this.$auth.redirect('home', true)
      }).catch((e) => {
        const errorMessage = e.response.data.message
        this.$toast.show(errorMessage, {
          duration: null,
          icon: 'fingerprint',
          className: 'vmr',
          action: {
            text: 'ОК',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
