<template>
  <v-card>
    <v-card-title class="font-weight-light headline">
      {{ this.$t('fullEmployeeStatusInfoCard.cardTitle') }}
    </v-card-title>
    <v-card-text>
      <v-chip
        :color="employeeStatus.color"
        dark
      >
        <span class="font-weight-light title">
          {{ employeeStatus.status }}
        </span>
      </v-chip>
      <p class="font-weight-light title">
        {{ this.$t('fullEmployeeStatusInfoCard.employeeCount') }} : {{ employeeStatus.employeeCount }}
      </p>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'FullEmployeeStatusInfoCard',
  props: {
    employeeStatus: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
