<template>
  <v-card>
    <v-card-title class="font-weight-light headline">
      {{ this.$t('departmentInfoCard.cardTitle') }}
    </v-card-title>
    <v-card-text>
      <span class="font-weight-light title">
        {{ department.title }}
      </span>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'DepartmentInfoCard',
  props: {
    department: {
      required: true,
      type: Object
    }
  }
}
</script>

<style scoped>

</style>
