<template>
  <v-card>
    <v-card-title class="font-weight-light headline">
      {{ this.$t('departmentInfoCard.cardTitle') }}
    </v-card-title>
    <v-card-text>
      <p class="font-weight-light title">
        {{ department.title }}
      </p>
      <p class="font-weight-light title">
        {{ this.$t('fullDepartmentInfoCard.employeeCount') }} : {{ department.employeeCount }}
      </p>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'FullDepartmentInfoCard',
  props: {
    department: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
