.vmr {
  font-size: 17px !important;
  font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
}

.v-slide-group__prev {
  display: none !important;
}

::-webkit-scrollbar-track
{
}

::-webkit-scrollbar
{
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #dee0e1;
}

*::selection {
  background: #bbe4ff;
}
