<template>
  <v-card
    :min-width="330"
  >
    <v-card-text>
      <v-form>
        <v-text-field
          v-model="firstName"
          color="#1565C1"
          :label="this.$t('searchEmployee.firstName')"
          prepend-icon="mdi-account-edit"
          dense
          outlined
        />
        <v-text-field
          v-model="lastName"
          color="#1565C1"
          :label="this.$t('searchEmployee.lastName')"
          prepend-icon="mdi-account-edit"
          dense
          outlined
        />
        <v-text-field
          v-model="patronymic"
          color="#1565C1"
          :label="this.$t('searchEmployee.patronymic')"
          prepend-icon="mdi-account-edit"
          dense
          outlined
        />
        <v-text-field
          v-model="position"
          color="#1565C1"
          :label="this.$t('searchEmployee.position')"
          prepend-icon="mdi-briefcase-check"
          dense
          outlined
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn
        small
        color="primary"
        dark
        @click="doSearch"
      >
        {{ this.$t('searchEmployee.searchButton') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'SearchCard',
  props: {
    searchCallback: {
      type: Function,
      required: true
    }
  },
  data: () => ({
    firstName: '',
    lastName: '',
    patronymic: '',
    position: ''
  }),
  methods: {
    doSearch () {
      const payload = {
        firstName: this.firstName,
        lastName: this.lastName,
        patronymic: this.patronymic,
        position: this.position
      }
      this.searchCallback(payload)
    }
  }
}
</script>

<style scoped>

</style>
