<template>
  <v-app>
    <v-main>
      <v-container full-height fluid>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'EmptyLayout'
}
</script>

<style scoped>

</style>
