<template>
  <v-container
    fluid
    fill-height
  >
    <v-row justify="center" align="center">
      <v-col cols="12" sm="4">
        <v-img
          class="centered-content"
          :aspect-ratio="1"
          :width="145"
          :height="145"
          contain
          :src="require('~/assets/cry_persik.png')"
        />
        <h1
          v-if="error.statusCode === 404"
          class="font-weight-light display-1 text-center"
        >
          {{ this.$t('errorPage.notFound') }}
        </h1>
        <h1
          v-else
          class="font-weight-light display-1 text-center"
        >
          {{ this.$t('errorPage.error') }}
        </h1>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Error',
  layout: 'WorkspaceLayout',
  props: ['error']
}
</script>

<style scoped>
.centered-content {
  margin-left: auto;
  margin-right: auto;
}
</style>
