<template>
  <v-app>
    <Navbar />
    <AppNavigation id="app-navigation" />
    <v-main id="ff-main">
      <v-container full-height fluid>
        <nuxt />
      </v-container>
    </v-main>
    <MobileNavigation id="mobile-navigation" />
  </v-app>
</template>

<script>
const Navbar = () => import('@/components/window/Navbar.vue')
const AppNavigation = () => import('@/components/window/AppNavigation.vue')
const MobileNavigation = () => import('@/components/window/MobileNavigation.vue')
export default {
  name: 'WorkspaceLayout',
  components: {
    Navbar,
    AppNavigation,
    MobileNavigation
  }
}
</script>

<style scoped>
@media (min-width:960px) {
  #mobile-navigation {
    display: none;
  }
}

@media (max-width:960px) {
  #app-navigation {
    display: none;
  }
  #ff-main {
    padding-left: 0 !important;
    margin-bottom: 65px;
  }
}

.full-height {
  height: 100vh;
}
</style>
