<template>
  <v-card
    class="mx-auto"
    max-width="400"
    color="error"
    outlined
  >
    <v-card-text>
      <p class="font-weight-light display-1 text-center warning-label">
        {{ message }}
      </p>
    </v-card-text>
    <v-card-actions>
      <v-btn
        outlined
        color="white"
        @click="deleteCallback"
      >
        <v-icon>mdi-delete</v-icon>
        {{ this.$t('deleteEntityDialog.delete') }}
      </v-btn>
      <v-spacer />
      <v-btn
        outlined
        color="white"
        @click="cancel"
      >
        {{ this.$t('deleteEntityDialog.cancel') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'DeleteEntityDialog',
  props: {
    cancel: {
      type: Function,
      required: true
    },
    deleteCallback: {
      type: Function,
      required: true
    },
    message: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.warning-label {
  color: white
}
</style>
