<template>
  <v-card
    class="mx-auto"
    min-width="500"
    outlined
  >
    <v-card-title>
      <span class="font-weight-light">{{ this.$t('newDepartmentForm.cardTitle') }}</span>
    </v-card-title>
    <v-card-text>
      <v-form ref="newDepartmentForm" v-model="valid" lazy-validation>
        <v-text-field
          v-model="title"
          color="#1565C1"
          :rules="titleRules"
          :label="this.$t('newDepartmentForm.title')"
          prepend-icon="mdi-domain"
          dense
          required
          outlined
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        tile
        color="success"
        @click="saveDepartment"
      >
        <v-icon left>
          mdi-content-save-edit-outline
        </v-icon>
        {{ this.$t('newDepartmentForm.saveButton') }}
      </v-btn>
      <v-btn
        tile
        color="info"
        @click="cancel"
      >
        <v-icon left>
          mdi-cancel
        </v-icon>
        {{ this.$t('newDepartmentForm.cancelButton') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'NewDepartmentForm',
  props: {
    cancel: {
      type: Function,
      required: true
    }
  },
  data: () => ({
    valid: true,
    title: ''
  }),
  computed: {
    titleRules () {
      return [
        v => !!v || this.$t('newDepartmentForm.validation.title.required')
      ]
    }
  },
  methods: {
    async saveDepartment () {
      await this.$refs.newDepartmentForm.validate()
      if (this.valid) {
        const department = {
          title: this.title
        }

        try {
          const res = await this.createDepartment(department)
          this.cancel()
          this.$router.push(`/department/${res.data.id}`)
          this.$toast.show(this.$t('toast.success_new_department'), {
            duration: 3500,
            icon: 'done',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        } catch (e) {
          const errors = e.response.data.subErrors
          errors.forEach((err) => {
            const errorMessage = err.message
            this.$toast.show(errorMessage, {
              duration: 3500,
              icon: 'info_outline',
              className: 'vmr',
              action: {
                text: 'ОК',
                onClick: (e, toastObject) => {
                  toastObject.goAway(0)
                }
              }
            })
          })
        }
      }
    },
    ...mapActions([
      'createDepartment'
    ])
  }
}
</script>

<style scoped>

</style>
