<template>
  <v-card
    class="mx-auto"
    min-width="500"
    outlined
  >
    <v-card-title>
      <span class="font-weight-light">{{ this.$t('newEmployeeStatusForm.cardTitle') }}</span>
    </v-card-title>
    <v-card-text>
      <v-form ref="newEmployeeStatusForm" v-model="valid" lazy-validation>
        <v-text-field
          v-model="status"
          color="#1565C1"
          :rules="statusRules"
          :label="this.$t('newEmployeeStatusForm.status')"
          prepend-icon="mdi-check-all"
          dense
          required
          outlined
        />
        <v-container fluid>
          <v-row justify="center">
            <v-color-picker
              v-model="color"
              dot-size="25"
              hide-mode-switch
              mode="hexa"
              swatches-max-height="200"
            />
          </v-row>
        </v-container>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        tile
        color="success"
        @click="saveStatus"
      >
        <v-icon left>
          mdi-content-save-edit-outline
        </v-icon>
        {{ this.$t('newEmployeeStatusForm.saveButton') }}
      </v-btn>
      <v-btn
        tile
        color="info"
        @click="cancel"
      >
        <v-icon left>
          mdi-cancel
        </v-icon>
        {{ this.$t('newEmployeeStatusForm.cancelButton') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import ENV from '~/env.js'
export default {
  name: 'NewEmployeeStatusForm',
  props: {
    cancel: {
      type: Function,
      required: true
    },
    loadStatusesCallback: {
      type: Function,
      required: true
    }
  },
  data: () => ({
    valid: true,
    status: '',
    color: ''
  }),
  computed: {
    statusRules () {
      return [
        v => !!v || this.$t('newEmployeeStatusForm.validation.status.required')
      ]
    }
  },
  methods: {
    async saveStatus () {
      await this.$refs.newEmployeeStatusForm.validate()
      if (this.valid) {
        const request = {
          status: this.status,
          color: this.color
        }

        try {
          // eslint-disable-next-line no-unused-vars
          const response = await this.$axios.post(ENV.CREATE_NEW_EMPLOYEE_STATUS_API_URL, request, {
            params: {
              lang: this.$i18n.lang
            }
          })

          await this.cancel()
          await this.loadStatusesCallback()
          this.$toast.show(this.$t('toast.success_new_employee_status'), {
            duration: 3500,
            icon: 'done',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        } catch (e) {
          const errors = e.response.data.subErrors
          errors.forEach((err) => {
            const errorMessage = err.message
            this.$toast.show(errorMessage, {
              duration: 3500,
              icon: 'info_outline',
              className: 'vmr',
              action: {
                text: 'ОК',
                onClick: (e, toastObject) => {
                  toastObject.goAway(0)
                }
              }
            })
          })
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
