<template>
  <v-card
    class="mx-auto"
    min-width="500"
    outlined
  >
    <v-card-title>
      <span class="font-weight-light">{{ this.$t('newEmployeeForm.cardTitle') }}</span>
    </v-card-title>
    <v-card-text>
      <v-form ref="newEmployeeForm" v-model="valid" lazy-validation>
        <v-text-field
          v-model="firstName"
          color="#1565C1"
          :rules="firstNameRules"
          :label="this.$t('newEmployeeForm.firstName')"
          prepend-icon="mdi-account-edit"
          dense
          required
          outlined
        />
        <v-text-field
          v-model="lastName"
          color="#1565C1"
          :rules="lastNameRules"
          :label="this.$t('newEmployeeForm.lastName')"
          prepend-icon="mdi-account-edit"
          dense
          required
          outlined
        />
        <v-text-field
          v-model="patronymic"
          color="#1565C1"
          :rules="patronymicRules"
          :label="this.$t('newEmployeeForm.patronymic')"
          prepend-icon="mdi-account-edit"
          dense
          outlined
        />
        <v-text-field
          v-model="position"
          color="#1565C1"
          :rules="positionRules"
          :label="this.$t('newEmployeeForm.position')"
          prepend-icon="mdi-briefcase-check"
          dense
          required
          outlined
        />
        <v-text-field
          v-model="phoneNumber"
          color="#1565C1"
          :rules="phoneNumberRules"
          :label="this.$t('newEmployeeForm.phoneNumber')"
          prepend-icon="mdi-phone"
          dense
          outlined
        />
        <v-select
          v-model="selectedDepartment"
          :label="this.$t('newEmployeeForm.department')"
          prepend-icon="mdi-domain"
          :items="getDepartments"
          item-text="title"
          item-value="id"
          required
          dense
        />
        <v-select
          v-model="selectedStatus"
          :label="this.$t('newEmployeeForm.status')"
          prepend-icon="mdi-check-all"
          :items="employeeStatuses"
          item-text="status"
          item-value="id"
          required
          dense
        />
      </v-form>
    </v-card-text>

    <v-card-actions>
      <v-btn
        tile
        color="success"
        @click="saveEmployee"
      >
        <v-icon left>
          mdi-content-save-edit-outline
        </v-icon>
        {{ this.$t('newEmployeeForm.saveButton') }}
      </v-btn>
      <v-btn
        tile
        color="info"
        @click="cancel"
      >
        <v-icon left>
          mdi-cancel
        </v-icon>
        {{ this.$t('newEmployeeForm.cancelButton') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ENV from '~/env.js'
export default {
  name: 'NewEmployeeForm',
  props: {
    cancel: {
      type: Function,
      required: true
    }
  },
  data: () => ({
    employeeStatuses: [],
    valid: true,
    firstName: '',
    lastName: '',
    patronymic: '',
    position: '',
    phoneNumber: '',
    selectedDepartment: '',
    selectedStatus: ''
  }),
  computed: {
    firstNameRules () {
      return [
        v => !!v || this.$t('newEmployeeForm.validation.firstName.required'),
        v => /^[a-zа-яA-ZА-Я_]*$/.test(v) || this.$t('newEmployeeForm.validation.firstName.stringPattern'),
        v => v.length >= 2 || this.$t('newEmployeeForm.validation.firstName.minLength'),
        v => v.length <= 50 || this.$t('newEmployeeForm.validation.firstName.maxLength')
      ]
    },
    lastNameRules () {
      return [
        v => !!v || this.$t('newEmployeeForm.validation.lastName.required'),
        v => /^[a-zа-яA-ZА-Я_]*$/.test(v) || this.$t('newEmployeeForm.validation.lastName.stringPattern'),
        v => v.length >= 2 || this.$t('newEmployeeForm.validation.lastName.minLength'),
        v => v.length <= 50 || this.$t('newEmployeeForm.validation.lastName.maxLength')
      ]
    },
    patronymicRules () {
      return [
        v => /^[a-zа-яA-ZА-Я_]*$/.test(v) || this.$t('newEmployeeForm.validation.patronymic.stringPattern'),
        v => v.length <= 50 || this.$t('newEmployeeForm.validation.patronymic.maxLength')
      ]
    },
    positionRules () {
      return [
        v => !!v || this.$t('newEmployeeForm.validation.position.required'),
        v => v.length <= 250 || this.$t('newEmployeeForm.validation.position.maxLength')
      ]
    },
    phoneNumberRules () {
      return [
        v => v.length === 11 || this.$t('newEmployeeForm.validation.phoneNumber.incorrectPhoneNumber')
      ]
    },
    ...mapGetters([
      'getDepartments'
    ])
  },
  mounted () {
    this.loadDepartments()
    this.loadEmployeeStatuses()
  },
  methods: {
    async loadEmployeeStatuses () {
      const response = await this.$axios.get(ENV.FETCH_EMPLOYEE_STATUSES_API_URL)
      this.employeeStatuses = await response.data.statuses
    },
    async saveEmployee () {
      await this.$refs.newEmployeeForm.validate()
      if (this.valid) {
        const employee = {
          firstName: this.firstName,
          lastName: this.lastName,
          patronymic: this.patronymic,
          position: this.position,
          phoneNumber: this.phoneNumber,
          departmentId: this.selectedDepartment,
          employeeStatusId: this.selectedStatus
        }

        try {
          const res = await this.addEmployee(employee)
          this.$store.commit('ADD_EMPLOYEE', res.data)
          this.cancel()
          this.$router.push('/employee/' + res.data.id)
          this.$toast.show(this.$t('toast.success_new_employee'), {
            duration: 3500,
            icon: 'done',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        } catch (e) {
          const errors = e.response.data.subErrors
          errors.forEach((err) => {
            const errorMessage = err.message
            this.$toast.show(errorMessage, {
              duration: 3500,
              icon: 'info_outline',
              className: 'vmr',
              action: {
                text: 'ОК',
                onClick: (e, toastObject) => {
                  toastObject.goAway(0)
                }
              }
            })
          })
        }
      }
    },
    ...mapActions([
      'addEmployee',
      'loadDepartments'
    ])
  }
}
</script>

<style scoped>

</style>
