<template>
  <v-card
    class="mx-auto"
    min-width="500"
    outlined
  >
    <v-card-title>
      <span class="font-weight-light">{{ this.$t('newPermissionStatusForm.cardTitle') }}</span>
    </v-card-title>
    <v-card-text>
      <v-form ref="newPermissionStatusForm" v-model="valid" lazy-validation>
        <v-text-field
          v-model="status"
          color="#1565C1"
          :rules="statusRules"
          :label="this.$t('newPermissionStatusForm.status')"
          prepend-icon="mdi-check-all"
          dense
          required
          outlined
        />
        <v-container fluid>
          <v-row justify="center">
            <v-color-picker
              v-model="color"
              dot-size="25"
              hide-mode-switch
              mode="hexa"
              swatches-max-height="200"
            />
          </v-row>
        </v-container>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        tile
        color="success"
        @click="savePermissionStatus"
      >
        <v-icon left>
          mdi-content-save-edit-outline
        </v-icon>
        {{ this.$t('newPermissionStatusForm.saveButton') }}
      </v-btn>
      <v-btn
        tile
        color="info"
        @click="cancel"
      >
        <v-icon left>
          mdi-cancel
        </v-icon>
        {{ this.$t('newPermissionStatusForm.cancelButton') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'NewPermissionStatusForm',
  props: {
    cancel: {
      type: Function,
      required: true
    }
  },
  data: () => ({
    valid: true,
    status: '',
    color: ''
  }),
  computed: {
    statusRules () {
      return [
        v => !!v || this.$t('newPermissionStatusForm.validation.status.required')
      ]
    }
  },
  methods: {
    async savePermissionStatus () {
      await this.$refs.newPermissionStatusForm.validate()
      if (this.valid) {
        const payload = {
          request: {
            status: this.status,
            color: this.color
          }
        }

        try {
          // eslint-disable-next-line no-unused-vars
          const res = await this.createPermissionStatus(payload)
          await this.cancel()
          await this.loadPermissionStatuses()
          this.$toast.show(this.$t('toast.success_new_permission_status'), {
            duration: 3500,
            icon: 'done',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        } catch (e) {
          const errors = e.response.data.subErrors
          errors.forEach((err) => {
            const errorMessage = err.message
            this.$toast.show(errorMessage, {
              duration: 3500,
              icon: 'info_outline',
              className: 'vmr',
              action: {
                text: 'ОК',
                onClick: (e, toastObject) => {
                  toastObject.goAway(0)
                }
              }
            })
          })
        }
      }
    },
    ...mapActions([
      'loadPermissionStatuses',
      'createPermissionStatus'
    ])
  }
}
</script>

<style scoped>

</style>
