<template>
  <v-card
    class="mx-auto"
    min-width="500"
    outlined
  >
    <v-card-title>
      <span class="font-weight-light">{{ this.$t('newPermissionForm.cardTitle') }}</span>
    </v-card-title>
    <v-card-text>
      <v-form ref="newPermissionForm" v-model="valid" lazy-validation>
        <v-select
          v-model="selectedStatus"
          :label="this.$t('newPermissionForm.status')"
          prepend-icon="mdi-check-all"
          :items="getPermissionStatuses"
          item-text="status"
          item-value="id"
          required
          dense
        />
        <v-select
          v-model="selectedResource"
          :label="this.$t('newPermissionForm.resource')"
          prepend-icon="mdi-folder-outline"
          :items="getResources"
          item-text="title"
          item-value="id"
          required
          dense
        />
        <v-text-field
          v-model="login"
          color="#1565C1"
          :rules="loginRules"
          :label="this.$t('newPermissionForm.login')"
          prepend-icon="mdi-account-edit"
          dense
          required
          outlined
        />
        <v-text-field
          v-if="currentUserIsAdmin"
          v-model="password"
          color="#1565C1"
          :rules="passwordRules"
          :label="this.$t('newPermissionForm.password')"
          prepend-icon="mdi-account-edit"
          dense
          required
          outlined
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        tile
        color="success"
        @click="savePermission"
      >
        <v-icon left>
          mdi-content-save-edit-outline
        </v-icon>
        {{ this.$t('newPermissionStatusForm.saveButton') }}
      </v-btn>
      <v-btn
        tile
        color="info"
        @click="cancel"
      >
        <v-icon left>
          mdi-cancel
        </v-icon>
        {{ this.$t('newPermissionStatusForm.cancelButton') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'NewPermissionForm',
  props: {
    cancel: {
      type: Function,
      required: true
    }
  },
  data: () => ({
    login: '',
    password: '',
    valid: true,
    selectedStatus: {},
    selectedResource: {}
  }),
  computed: {
    loginRules () {
      return [
        v => !!v || this.$t('newPermissionForm.validation.login.required'),
        v => !(/[ ]/.test(v)) || this.$t('newPermissionForm.validation.login.disallowSpaces'),
        v => (v && v.length >= 5) || this.$t('newPermissionForm.validation.login.length.lessThan'),
        v => (v && v.length <= 50) || this.$t('newPermissionForm.validation.login.length.greaterThan'),
        v => (/^[a-zA-Z0-9_]*$/.test(v)) || this.$t('newPermissionForm.validation.login.requiredPattern')
      ]
    },
    passwordRules () {
      return [
        v => !(/[ ]/.test(v)) || this.$t('newPermissionForm.validation.password.disallowSpaces'),
        v => ((v.length === 0) || (v && v.length >= 8)) || this.$t('newPermissionForm.validation.password.length.lessThan'),
        v => ((v.length === 0) || (v && v.length <= 40)) || this.$t('newPermissionForm.validation.password.length.greaterThan'),
        v => ((v.length === 0) || (!(v && v.toLowerCase() === v))) || this.$t('newPermissionForm.validation.password.containsUpper'),
        v => ((v.length === 0) || (!(v && v.toUpperCase() === v))) || this.$t('newPermissionForm.validation.password.containsLower'),
        // eslint-disable-next-line
        v => ((v.length === 0) || (v && /.*[\.\/\*\[\]\_\@\?].*/.test(v))) || this.$t('newPermissionForm.validation.password.atleastRequiredCharacters')
      ]
    },
    ...mapGetters([
      'getPermissionStatuses',
      'getResources',
      'currentEmployee',
      'currentUserIsAdmin'
    ])
  },
  methods: {
    async savePermission () {
      await this.$refs.newPermissionForm.validate()
      if (this.valid) {
        const payload = {
          request: {
            permissionStatusId: this.selectedStatus,
            resourceId: this.selectedResource,
            employeeId: this.currentEmployee.id,
            login: this.login
          }
        }

        if (this.password.length !== 0) {
          payload.request.password = this.password
        }

        try {
          // eslint-disable-next-line no-unused-vars
          const res = await this.createPermission(payload)
          await this.cancel()
          await this.fetchEmployee(this.currentEmployee.id)
          this.$toast.show(this.$t('toast.success_new_permission'), {
            duration: 3500,
            icon: 'done',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        } catch (e) {
          const errors = e.response.data.subErrors
          errors.forEach((err) => {
            const errorMessage = err.message
            this.$toast.show(errorMessage, {
              duration: 3500,
              icon: 'info_outline',
              className: 'vmr',
              action: {
                text: 'ОК',
                onClick: (e, toastObject) => {
                  toastObject.goAway(0)
                }
              }
            })
          })
        }
      }
    },
    ...mapActions([
      'createPermission',
      'fetchEmployee'
    ])
  }
}
</script>

<style scoped>

</style>
