<template>
  <v-card
    class="mx-auto"
    min-width="500"
    outlined
  >
    <v-card-title>
      <span class="font-weight-light">{{ this.$t('newUserForm.cardTitle') }}</span>
    </v-card-title>
    <v-card-text>
      <v-form ref="newUserForm" v-model="valid" lazy-validation>
        <v-select
          v-model="selectedStatus"
          :label="this.$t('newUserForm.status')"
          prepend-icon="mdi-check-all"
          :items="availableStatuses"
          item-text="title"
          item-value="isActive"
          required
          dense
        />
        <v-select
          v-model="selectedRole"
          :label="this.$t('newUserForm.role')"
          prepend-icon="mdi-star"
          :items="availableRoles"
          item-text="name"
          item-value="id"
          required
          dense
        />
        <v-text-field
          v-model="login"
          color="#1565C1"
          :rules="loginRules"
          :label="this.$t('newUserForm.login')"
          prepend-icon="mdi-account-edit"
          dense
          required
          outlined
        />
        <v-text-field
          v-model="password"
          color="#1565C1"
          :rules="passwordRules"
          :label="this.$t('newUserForm.password')"
          prepend-icon="mdi-account-edit"
          dense
          required
          outlined
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        tile
        color="success"
        @click="saveUser"
      >
        <v-icon left>
          mdi-content-save-edit-outline
        </v-icon>
        {{ this.$t('newUserForm.saveButton') }}
      </v-btn>
      <v-btn
        tile
        color="info"
        @click="cancel"
      >
        <v-icon left>
          mdi-cancel
        </v-icon>
        {{ this.$t('newUserForm.cancelButton') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import ENV from '~/env.js'
export default {
  name: 'NewUserForm',
  props: {
    cancel: {
      type: Function,
      required: true
    },
    loadUsersCallback: {
      type: Function,
      required: true
    }
  },
  data: () => ({
    valid: true,
    selectedStatus: '',
    selectedRole: '',
    login: '',
    password: '',
    availableRoles: []
  }),
  computed: {
    availableStatuses () {
      return [
        {
          title: this.$t('newUserForm.textStatus.active'),
          isActive: true
        },
        {
          title: this.$t('newUserForm.textStatus.disabled'),
          isActive: false
        }
      ]
    },
    loginRules () {
      return [
        v => !!v || this.$t('newUserForm.validation.login.required'),
        v => !(/[ ]/.test(v)) || this.$t('newUserForm.validation.login.disallowSpaces'),
        v => (v && v.length >= 3) || this.$t('newUserForm.validation.login.length.lessThan'),
        v => (v && v.length <= 20) || this.$t('newUserForm.validation.login.length.greaterThan'),
        v => (/^[a-zA-Z0-9_]*$/.test(v)) || this.$t('newUserForm.validation.login.requiredPattern')
      ]
    },
    passwordRules () {
      return [
        v => !!v || this.$t('newUserForm.validation.password.required'),
        v => !(/[ ]/.test(v)) || this.$t('newUserForm.validation.password.disallowSpaces'),
        v => ((v.length === 0) || (v && v.length >= 8)) || this.$t('newUserForm.validation.password.length.lessThan'),
        v => ((v.length === 0) || (v && v.length <= 40)) || this.$t('newUserForm.validation.password.length.greaterThan'),
        v => ((v.length === 0) || (!(v && v.toLowerCase() === v))) || this.$t('newUserForm.validation.password.containsUpper'),
        v => ((v.length === 0) || (!(v && v.toUpperCase() === v))) || this.$t('newUserForm.validation.password.containsLower'),
        // eslint-disable-next-line
        v => ((v.length === 0) || (v && /.*[\.\/\*\[\]\_\@\?].*/.test(v))) || this.$t('newUserForm.validation.password.atleastRequiredCharacters')
      ]
    }
  },
  mounted () {
    this.fetchRoles()
  },
  methods: {
    async fetchRoles () {
      const response = await this.$axios.get(ENV.FETCH_USER_ROLES_API_URL)
      this.availableRoles = response.data.roles
    },
    async saveUser () {
      await this.$refs.newUserForm.validate()
      if (this.valid) {
        const request = {
          login: this.login,
          password: this.password,
          roleId: this.selectedRole,
          isActive: this.selectedStatus
        }

        try {
          // eslint-disable-next-line no-unused-vars
          const response = await this.$axios.post(ENV.CREATE_USER_API_URL, request, {
            params: {
              lang: this.$i18n.lang
            }
          })
          this.cancel()
          this.loadUsersCallback()
          this.$toast.show(this.$t('toast.success_new_user'), {
            duration: 3500,
            icon: 'done',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        } catch (err) {
          const errors = err.response.data.subErrors
          errors.forEach((err) => {
            const errorMessage = err.message
            this.$toast.show(errorMessage, {
              duration: 3500,
              icon: 'info_outline',
              className: 'vmr',
              action: {
                text: 'ОК',
                onClick: (e, toastObject) => {
                  toastObject.goAway(0)
                }
              }
            })
          })
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
