<template>
  <v-card
    class="mx-auto"
    min-width="500"
    outlined
  >
    <v-card-title>
      <span class="font-weight-light">{{ this.$t('updateUserForm.cardTitle') }}</span>
    </v-card-title>
    <v-card-text>
      <v-form ref="updateUserForm" v-model="valid" lazy-validation>
        <v-select
          v-model="selectedStatus"
          :label="this.$t('newUserForm.status')"
          prepend-icon="mdi-check-all"
          :items="availableStatuses"
          item-text="title"
          item-value="isActive"
          required
          dense
        />
        <v-select
          v-model="selectedRole"
          :label="this.$t('newUserForm.role')"
          prepend-icon="mdi-star"
          :items="availableRoles"
          item-text="name"
          item-value="id"
          required
          dense
        />
        <v-text-field
          v-model="login"
          color="#1565C1"
          :label="this.$t('newUserForm.login')"
          prepend-icon="mdi-account-edit"
          dense
          disabled
          required
          outlined
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        tile
        color="success"
        @click="saveUser"
      >
        <v-icon left>
          mdi-content-save-edit-outline
        </v-icon>
        {{ this.$t('newUserForm.saveButton') }}
      </v-btn>
      <v-btn
        tile
        color="info"
        @click="cancel"
      >
        <v-icon left>
          mdi-cancel
        </v-icon>
        {{ this.$t('newUserForm.cancelButton') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import ENV from '~/env.js'
export default {
  name: 'UpdateUserForm',
  props: {
    cancel: {
      type: Function,
      required: true
    },
    loadUsersCallback: {
      type: Function,
      required: true
    },
    loadCurrentUserCallback: {
      type: Function,
      required: true
    },
    initUserData: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    valid: true,
    selectedStatus: '',
    selectedRole: '',
    userId: '',
    login: '',
    availableRoles: []
  }),
  computed: {
    availableStatuses () {
      return [
        {
          title: this.$t('newUserForm.textStatus.active'),
          isActive: true
        },
        {
          title: this.$t('newUserForm.textStatus.disabled'),
          isActive: false
        }
      ]
    }
  },
  mounted () {
    this.userId = this.initUserData.id.toString()
    this.login = this.initUserData.username.toString()
    this.selectedRole = JSON.parse(JSON.stringify(this.initUserData.roles[0]))
    this.selectedStatus = this.availableStatuses.filter(s => s.isActive === this.initUserData.active)[0]
    this.fetchRoles()
  },
  methods: {
    async fetchRoles () {
      const response = await this.$axios.get(ENV.FETCH_USER_ROLES_API_URL)
      this.availableRoles = response.data.roles
    },
    async saveUser () {
      await this.$refs.updateUserForm.validate()
      const request = {
        userId: this.userId,
        roleId: this.selectedRole.id ? this.selectedRole.id : this.selectedRole,
        isActive: this.selectedStatus.title ? this.selectedStatus.isActive : this.selectedStatus
      }
      console.log(request)

      try {
        // eslint-disable-next-line no-unused-vars
        const response = await this.$axios.put(ENV.UPDATE_USER_API_URL, request, {
          params: {
            lang: this.$i18n.locale
          }
        })
        await this.cancel()
        await this.$toast.show(this.$t('toast.success_user_update'), {
          duration: 3500,
          icon: 'cached',
          className: 'vmr',
          action: {
            text: 'ОК',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        })
        await this.loadCurrentUserCallback()
        await this.loadUsersCallback()
      } catch (e) {
        const errors = e.response.data.subErrors
        errors.forEach((err) => {
          const errorMessage = err.message
          this.$toast.show(errorMessage, {
            duration: 3500,
            icon: 'info_outline',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
