<template>
  <v-card
    class="mx-auto"
    min-width="500"
    outlined
  >
    <v-card-title>
      <span class="font-weight-light">{{ this.$t('updateEmployeeForm.cardTitle') }}</span>
    </v-card-title>
    <v-card-text>
      <v-form ref="updateEmployeeForm" v-model="valid" lazy-validation>
        <v-text-field
          v-model="firstName"
          color="#1565C1"
          :rules="firstNameRules"
          :label="this.$t('newEmployeeForm.firstName')"
          prepend-icon="mdi-account-edit"
          dense
          required
          outlined
        />
        <v-text-field
          v-model="lastName"
          color="#1565C1"
          :rules="lastNameRules"
          :label="this.$t('newEmployeeForm.lastName')"
          prepend-icon="mdi-account-edit"
          dense
          required
          outlined
        />
        <v-text-field
          v-model="patronymic"
          color="#1565C1"
          :rules="patronymicRules"
          :label="this.$t('newEmployeeForm.patronymic')"
          prepend-icon="mdi-account-edit"
          dense
          outlined
        />
        <v-text-field
          v-model="position"
          color="#1565C1"
          :rules="positionRules"
          :label="this.$t('newEmployeeForm.position')"
          prepend-icon="mdi-briefcase-check"
          dense
          required
          outlined
        />
        <v-text-field
          v-model="phoneNumber"
          color="#1565C1"
          :rules="phoneNumberRules"
          :label="this.$t('newEmployeeForm.phoneNumber')"
          prepend-icon="mdi-phone"
          dense
          outlined
        />
        <v-select
          v-model="department"
          :label="this.$t('newEmployeeForm.department')"
          prepend-icon="mdi-domain"
          :items="getDepartments"
          item-text="title"
          item-value="id"
          required
          dense
        />
        <v-select
          v-model="status"
          :label="this.$t('newEmployeeForm.status')"
          prepend-icon="mdi-check-all"
          :items="availableStatuses"
          item-text="status"
          item-value="id"
          required
          dense
        />
      </v-form>
    </v-card-text>

    <v-card-actions>
      <v-btn
        tile
        color="success"
        @click="changeEmployee"
      >
        <v-icon left>
          mdi-content-save-edit-outline
        </v-icon>
        {{ this.$t('newEmployeeForm.saveButton') }}
      </v-btn>
      <v-btn
        tile
        color="info"
        @click="cancel"
      >
        <v-icon left>
          mdi-cancel
        </v-icon>
        {{ this.$t('newEmployeeForm.cancelButton') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ENV from '@/env'
export default {
  name: 'UpdateEmployeeForm',
  props: {
    cancel: {
      type: Function,
      required: true
    },
    initEmployeeData: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    availableStatuses: [],
    employeeId: '',
    firstName: '',
    lastName: '',
    patronymic: '',
    position: '',
    phoneNumber: '',
    department: {},
    status: {},
    valid: true
  }),
  mounted () {
    this.employeeId = this.initEmployeeData.id.toString()
    this.firstName = this.initEmployeeData.firstName.toString()
    this.lastName = this.initEmployeeData.lastName.toString()
    this.patronymic = this.initEmployeeData.patronymic.toString()
    this.position = this.initEmployeeData.position.toString()
    this.phoneNumber = this.initEmployeeData.phoneNumber.toString()
    this.department = JSON.parse(JSON.stringify(this.initEmployeeData.department))
    this.status = JSON.parse(JSON.stringify(this.initEmployeeData.status))
    this.loadEmployeeStatuses()
  },
  computed: {
    firstNameRules () {
      return [
        v => !!v || this.$t('newEmployeeForm.validation.firstName.required'),
        v => /^[a-zа-яA-ZА-Я_]*$/.test(v) || this.$t('newEmployeeForm.validation.firstName.stringPattern'),
        v => v.length >= 2 || this.$t('newEmployeeForm.validation.firstName.minLength'),
        v => v.length <= 50 || this.$t('newEmployeeForm.validation.firstName.maxLength')
      ]
    },
    lastNameRules () {
      return [
        v => !!v || this.$t('newEmployeeForm.validation.lastName.required'),
        v => /^[a-zа-яA-ZА-Я_]*$/.test(v) || this.$t('newEmployeeForm.validation.lastName.stringPattern'),
        v => v.length >= 2 || this.$t('newEmployeeForm.validation.lastName.minLength'),
        v => v.length <= 50 || this.$t('newEmployeeForm.validation.lastName.maxLength')
      ]
    },
    patronymicRules () {
      return [
        v => /^[a-zа-яA-ZА-Я_]*$/.test(v) || this.$t('newEmployeeForm.validation.patronymic.stringPattern'),
        v => v.length <= 50 || this.$t('newEmployeeForm.validation.patronymic.maxLength')
      ]
    },
    positionRules () {
      return [
        v => !!v || this.$t('newEmployeeForm.validation.position.required'),
        v => v.length <= 250 || this.$t('newEmployeeForm.validation.position.maxLength')
      ]
    },
    phoneNumberRules () {
      return [
        v => v.length === 11 || this.$t('newEmployeeForm.validation.phoneNumber.incorrectPhoneNumber')
      ]
    },
    ...mapGetters([
      'getDepartments',
      'currentEmployee'
    ])
  },
  methods: {
    async loadEmployeeStatuses () {
      const response = await this.$axios.get(ENV.FETCH_EMPLOYEE_STATUSES_API_URL)
      this.availableStatuses = await response.data.statuses
    },
    async changeEmployee () {
      await this.$refs.updateEmployeeForm.validate()
      if (this.valid) {
        const request = {
          employeeId: this.employeeId,
          firstName: this.firstName,
          lastName: this.lastName,
          patronymic: this.patronymic,
          position: this.position,
          phoneNumber: this.phoneNumber,
          departmentId: this.department.id ? this.department.id : this.department,
          employeeStatusId: this.status.id ? this.status.id : this.status
        }

        try {
          // eslint-disable-next-line no-unused-vars
          const res = await this.updateEmployee(request)
          await this.cancel()
          await this.fetchEmployee(this.employeeId)
          this.$toast.show(this.$t('toast.success_employee_update'), {
            duration: 3500,
            icon: 'cached',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        } catch (e) {
          const errors = e.response.data.subErrors
          errors.forEach((err) => {
            const errorMessage = err.message
            this.$toast.show(errorMessage, {
              duration: 3500,
              icon: 'info_outline',
              className: 'vmr',
              action: {
                text: 'ОК',
                onClick: (e, toastObject) => {
                  toastObject.goAway(0)
                }
              }
            })
          })
        }
      }
    },
    ...mapActions([
      'updateEmployee',
      'fetchEmployee'
    ])
  }
}
</script>

<style scoped>

</style>
