<template>
  <v-card
    class="mx-auto"
    min-width="500"
    outlined
  >
    <v-card-title>
      <span class="font-weight-light">{{ this.$t('updatePermissionStatusForm.cardTitle') }}</span>
    </v-card-title>
    <v-card-text>
      <v-form ref="updatePermissionStatusForm" v-model="valid" lazy-validation>
        <v-text-field
          v-model="status"
          color="#1565C1"
          :rules="statusRules"
          :label="this.$t('newPermissionStatusForm.status')"
          prepend-icon="mdi-check-all"
          disabled
          dense
          required
          outlined
        />
        <v-container fluid>
          <v-row justify="center">
            <v-color-picker
              v-model="color"
              dot-size="25"
              hide-mode-switch
              mode="hexa"
              swatches-max-height="200"
            />
          </v-row>
        </v-container>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        tile
        color="success"
        @click="savePermissionStatus"
      >
        <v-icon left>
          mdi-content-save-edit-outline
        </v-icon>
        {{ this.$t('newPermissionStatusForm.saveButton') }}
      </v-btn>
      <v-btn
        tile
        color="info"
        @click="cancel"
      >
        <v-icon left>
          mdi-cancel
        </v-icon>
        {{ this.$t('newPermissionStatusForm.cancelButton') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'UpdatePermissionStatusForm',
  props: {
    initPermissionStatusData: {
      type: Object,
      required: true
    },
    cancel: {
      type: Function,
      required: true
    },
    callback: {
      type: Function,
      required: true
    }
  },
  data: () => ({
    valid: true,
    status: '',
    color: ''
  }),
  computed: {
    statusRules () {
      return [
        v => !!v || this.$t('newPermissionStatusForm.validation.status.required')
      ]
    }
  },
  mounted () {
    this.status = this.initPermissionStatusData.status.toString()
    this.color = this.initPermissionStatusData.color.toString()
  },
  methods: {
    async savePermissionStatus () {
      await this.$refs.updatePermissionStatusForm.validate()
      const payload = {
        request: {
          permissionStatusId: this.$route.params.id,
          color: this.color
        }
      }

      try {
        // eslint-disable-next-line no-unused-vars
        const res = await this.updatePermissionStatus(payload)
        await this.cancel()
        const payloadFetch = {
          statusId: this.$route.params.id
        }
        await this.fetchPermissionStatus(payloadFetch)
        await this.callback()
        this.$toast.show(this.$t('toast.success_update_permission_status'), {
          duration: 3500,
          icon: 'cached',
          className: 'vmr',
          action: {
            text: 'ОК',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        })
      } catch (e) {
        const errors = e.response.data.subErrors
        errors.forEach((err) => {
          const errorMessage = err.message
          this.$toast.show(errorMessage, {
            duration: 3500,
            icon: 'info_outline',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        })
      }
    },
    ...mapActions([
      'updatePermissionStatus',
      'fetchPermissionStatus'
    ])
  }
}
</script>

<style scoped>

</style>
