<template>
  <v-card
    class="mx-auto"
    min-width="500"
    outlined
  >
    <v-card-title>
      <span class="font-weight-light">{{ this.$t('updateEmployeeStatusForm.cardTitle') }}</span>
    </v-card-title>
    <v-card-text>
      <v-form ref="updateEmployeeStatusForm" v-model="valid" lazy-validation>
        <v-text-field
          v-model="status"
          color="#1565C1"
          :label="this.$t('newEmployeeStatusForm.status')"
          prepend-icon="mdi-check-all"
          dense
          disabled
          outlined
        />
        <v-container fluid>
          <v-row justify="center">
            <v-color-picker
              v-model="color"
              dot-size="25"
              hide-mode-switch
              mode="hexa"
              swatches-max-height="200"
            />
          </v-row>
        </v-container>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        tile
        color="success"
        @click="saveStatus"
      >
        <v-icon left>
          mdi-content-save-edit-outline
        </v-icon>
        {{ this.$t('newEmployeeStatusForm.saveButton') }}
      </v-btn>
      <v-btn
        tile
        color="info"
        @click="cancel"
      >
        <v-icon left>
          mdi-cancel
        </v-icon>
        {{ this.$t('newEmployeeStatusForm.cancelButton') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import ENV from '~/env.js'
export default {
  name: 'UpdateEmployeeStatusForm',
  props: {
    initData: {
      type: Object,
      required: true
    },
    cancel: {
      type: Function,
      required: true
    },
    callback: {
      type: Function,
      required: true
    }
  },
  data: () => ({
    valid: true,
    id: '',
    status: '',
    color: ''
  }),
  mounted () {
    this.id = this.initData.id.toString()
    this.status = this.initData.status.toString()
    this.color = this.initData.color.toString()
  },
  methods: {
    async saveStatus () {
      await this.$refs.updateEmployeeStatusForm.validate()
      const request = {
        employeeStatusId: this.id,
        color: this.color
      }

      try {
        // eslint-disable-next-line no-unused-vars
        const response = await this.$axios.put(ENV.UPDATE_EMPLOYEE_STATUS_BY_ID_API_URL, request, {
          params: {
            lang: this.$i18n.lang
          }
        })
        await this.cancel()
        await this.callback()
        this.$toast.show(this.$t('toast.success_update_employee_status'), {
          duration: 3500,
          icon: 'cached',
          className: 'vmr',
          action: {
            text: 'ОК',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        })
      } catch (e) {
        const errors = e.response.data.subErrors
        errors.forEach((err) => {
          const errorMessage = err.message
          this.$toast.show(errorMessage, {
            duration: 3500,
            icon: 'info_outline',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
