<template>
  <v-card
    class="mx-auto"
    min-width="500"
    outlined
  >
    <v-card-title>
      <span class="font-weight-light">{{ this.$t('updateUserPasswordForm.cardTitle') }}</span>
    </v-card-title>
    <v-card-text>
      <v-form ref="updateUserPasswordForm" v-model="valid" lazy-validation>
        <v-text-field
          v-model="login"
          color="#1565C1"
          :label="this.$t('newUserForm.login')"
          prepend-icon="mdi-account-edit"
          dense
          disabled
          required
          outlined
        />
        <v-text-field
          v-model="password"
          color="#1565C1"
          :rules="passwordRules"
          :label="this.$t('newUserForm.password')"
          prepend-icon="mdi-account-edit"
          dense
          required
          outlined
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        tile
        color="success"
        @click="updatePassword"
      >
        <v-icon left>
          mdi-content-save-edit-outline
        </v-icon>
        {{ this.$t('newUserForm.saveButton') }}
      </v-btn>
      <v-btn
        tile
        color="info"
        @click="cancel"
      >
        <v-icon left>
          mdi-cancel
        </v-icon>
        {{ this.$t('newUserForm.cancelButton') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import ENV from '~/env.js'
export default {
  name: 'UpdateUserPasswordForm',
  props: {
    cancel: {
      type: Function,
      required: true
    },
    loadUserCallback: {
      type: Function,
      required: true
    },
    initUserData: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    valid: true,
    userId: '',
    login: '',
    password: ''
  }),
  computed: {
    passwordRules () {
      return [
        v => !!v || this.$t('newUserForm.validation.password.required'),
        v => !(/[ ]/.test(v)) || this.$t('newUserForm.validation.password.disallowSpaces'),
        v => ((v.length === 0) || (v && v.length >= 8)) || this.$t('newUserForm.validation.password.length.lessThan'),
        v => ((v.length === 0) || (v && v.length <= 40)) || this.$t('newUserForm.validation.password.length.greaterThan'),
        v => ((v.length === 0) || (!(v && v.toLowerCase() === v))) || this.$t('newUserForm.validation.password.containsUpper'),
        v => ((v.length === 0) || (!(v && v.toUpperCase() === v))) || this.$t('newUserForm.validation.password.containsLower'),
        // eslint-disable-next-line
        v => ((v.length === 0) || (v && /.*[\.\/\*\[\]\_\@\?].*/.test(v))) || this.$t('newUserForm.validation.password.atleastRequiredCharacters')
      ]
    }
  },
  mounted () {
    this.userId = this.initUserData.id.toString()
    this.login = this.initUserData.username.toString()
  },
  methods: {
    async updatePassword () {
      await this.$refs.updateUserPasswordForm.validate()
      if (this.valid) {
        const request = {
          userId: this.userId,
          password: this.password
        }

        try {
          // eslint-disable-next-line no-unused-vars
          const response = await this.$axios.put(ENV.UPDATE_USER_PASSWORD_API_URL, request, {
            params: {
              lang: this.$i18n.locale
            }
          })
          await this.$toast.show(this.$t('toast.success_update_user_password'), {
            duration: 3500,
            icon: 'cached',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
          await this.cancel()
          await this.loadUserCallback()
        } catch (e) {
          const errors = e.response.data.subErrors
          errors.forEach((err) => {
            const errorMessage = err.message
            this.$toast.show(errorMessage, {
              duration: 3500,
              icon: 'info_outline',
              className: 'vmr',
              action: {
                text: 'ОК',
                onClick: (e, toastObject) => {
                  toastObject.goAway(0)
                }
              }
            })
          })
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
