<template>
  <v-card
    width="500"
  >
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="headline font-weight-light">
          {{ this.$t('uploadEmployeePhoto.title') }}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <div class="upload-example">
      <cropper
        v-if="this.image"
        ref="cropper"
        class="upload-photo-cropper"
        stencil-component="circle-stencil"
        :src="this.image"
        :stencil-props="{
          minAspectRatio: 1,
          maxAspectRatio: 1
        }"
        :restrictions="pixelsRestriction"
      />
      <div v-else class="dropbox">
        <input
          type="file"
          accept="image/*"
          class="input-file"
          @change="uploadImage($event)"
        >
        <p>
          {{ this.$t('uploadEmployeePhoto.message_p1') }}
          <br>
          {{ this.$t('uploadEmployeePhoto.message_or') }}
          <br>
          {{ this.$t('uploadEmployeePhoto.message_p2') }}
        </p>
      </div>
      <div class="button-wrapper">
        <span
          class="button"
          @click="cancel"
        >
          {{ this.$t('uploadEmployeePhoto.cancel') }}
        </span>
        <span
          v-if="this.image"
          class="button"
          @click="uploadImageToServer($event)"
        >
          {{ this.$t('uploadEmployeePhoto.upload') }}
        </span>
        <span
          v-if="!!employee.photoFileName"
          class="button"
          @click="deletePhoto"
        >
          {{ this.$t('uploadEmployeePhoto.delete') }}
        </span>
      </div>
    </div>
  </v-card>
</template>

<script>
import { Cropper } from 'vue-advanced-cropper'
import { mapActions } from 'vuex'
import ENV from '~/env.js'
export default {
  name: 'UploadEmployeePhotoForm',
  components: {
    Cropper
  },
  props: {
    cancel: {
      type: Function,
      required: true
    },
    employee: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    image: null
  }),
  computed: {
  },
  methods: {
    deletePhoto () {
      this.$axios.delete(ENV.DELETE_EMPLOYEE_PHOTO_API_URL + this.employee.id, {
        params: {
          lang: this.$i18n.locale
        }
      }).then((res) => {
        this.cancel()
        this.fetchEmployee(this.employee.id)
        this.$toast.show(this.$t('toast.success_delete_employee_photo'), {
          duration: 3500,
          icon: 'delete',
          className: 'vmr',
          action: {
            text: 'ОК',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        })
      })
    },
    uploadImage (event) {
      const input = event.target

      if (input.files && input.files[0]) {
        const reader = new FileReader()

        reader.onload = (e) => {
          this.image = e.target.result
        }

        reader.readAsDataURL(input.files[0])
      }
    },
    pixelsRestriction ({ minWidth, minHeight, maxWidth, maxHeight, imageWidth, imageHeight }) {
      return {
        minWidth: 32,
        minHeight: 32,
        maxWidth: 1500,
        maxHeight: 1500
      }
    },
    uploadImageToServer (event) {
      const { canvas } = this.$refs.cropper.getResult()
      if (canvas) {
        const form = new FormData()
        canvas.toBlob((blob) => {
          form.append('photo', blob)

          this.$axios.post(ENV.UPLOAD_EMPLOYEE_PHOTO_API_URL + this.employee.id, form, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }).then((res) => {
            this.fetchEmployee(this.employee.id)
            this.$toast.show(this.$t('toast.success_upload_employee_photo'), {
              duration: 3500,
              icon: 'attach_file',
              className: 'vmr',
              action: {
                text: 'ОК',
                onClick: (e, toastObject) => {
                  toastObject.goAway(0)
                }
              }
            })
          }).catch((e) => {
            this.cancel()
            this.$toast.show(e.response.data.message, {
              duration: 3500,
              icon: 'cloud_off',
              className: 'vmr',
              action: {
                text: 'ОК',
                onClick: (e, toastObject) => {
                  toastObject.goAway(0)
                }
              }
            })
          })
        }, 'image/jpeg')
      }
      this.cancel()
    },
    ...mapActions([
      'fetchEmployee'
    ])
  }
}
</script>

<style scoped>
.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}

.button {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  background: #3fb37f;
  cursor: pointer;
  transition: background 0.5s;
}

.button:hover {
  background: #38d890;
}

.button input {
  display: none;
}

.upload-example {
  height: 100%;
  width: 100%;
}

.upload-photo-cropper {
  border: solid 1px #EEE;
  max-height: 50vh;
}

.button input {
  display: none;
}

.dropbox {
  height: calc(100% - 120px);
  width: 100%;
  outline: 2px dashed grey;
  outline-offset: -10px;
  background: white;
  color: dimgray;
  padding: 10px 10px;
  min-height: 200px;
  position: relative;
  cursor: pointer;
}

.input-file {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  background: #e2ebff;
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
}
</style>
