<template>
  <div>
    <v-overlay
      :value="deleteDepartmentsDialog"
      :dark="false"
      z-index="16448"
    >
      <DeleteEntityDialog
        :cancel="hideDeleteDepartmentsDialog"
        :message="deleteDepartmentsMessage"
        :delete-callback="deleteDepartments"
      />
    </v-overlay>
    <v-overlay
      :value="createDepartmentOverlay"
      :dark="false"
      z-index="16448"
    >
      <NewDepartmentForm :cancel="hideOverlay" />
    </v-overlay>
    <v-layout>
      <v-container fluid>
        <v-row>
          <p class="font-weight-light display-1 permission-title">
            {{ this.$t('departmentsTitle') }}
          </p>
        </v-row>
        <v-row justify="center">
          <v-container fluid>
            <client-only>
              <v-data-table
                v-model="selectedDepartments"
                :headers="headers"
                :items="getDepartments"
                :loading="isLoadingDepartments"
                :hide-default-footer="true"
                show-select
                item-key="id"
                class="elevation-1"
                @click:row="handleRowClick"
              >
                <template v-slot:top>
                  <v-btn
                    v-if="currentUserIsAdmin"
                    icon
                    color="green"
                    @click="createDepartmentOverlay = true"
                  >
                    <v-icon>
                      mdi-plus
                    </v-icon>
                  </v-btn>
                  <v-btn
                    icon
                    color="blue"
                    @click="reloadDepartments"
                  >
                    <v-icon>
                      mdi-cached
                    </v-icon>
                  </v-btn>
                  <v-btn
                    v-if="isSelectedDepartmentsNotEmpty && currentUserIsAdmin"
                    icon
                    color="red"
                    @click="deleteDepartmentsDialog = true"
                  >
                    <v-icon>
                      mdi-delete
                    </v-icon>
                  </v-btn>
                </template>
              </v-data-table>
            </client-only>
          </v-container>
        </v-row>
      </v-container>
    </v-layout>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
const NewDepartmentForm = () => import('~/components/admin/NewDepartmentForm.vue')
const DeleteEntityDialog = () => import('~/components/admin/DeleteEntityDialog.vue')
export default {
  name: 'Departments',
  layout: 'WorkspaceLayout',
  components: {
    NewDepartmentForm,
    DeleteEntityDialog
  },
  data: () => ({
    deleteDepartmentsDialog: false,
    createDepartmentOverlay: false,
    selectedDepartments: []
  }),
  computed: {
    deleteDepartmentsMessage () {
      return this.selectedDepartments.length > 1
        ? this.$t('deleteDepartmentForm.deleteDepartmentsWarning')
        : this.$t('deleteDepartmentForm.deleteDepartmentWarning')
    },
    isSelectedDepartmentsNotEmpty () {
      return this.selectedDepartments.length !== 0
    },
    headers () {
      return [
        { text: this.$t('departmentTable.title'), value: 'title', align: 'start', sortable: false },
        { text: this.$t('departmentTable.employeeCount'), value: 'employeeCount', align: 'start', sortable: false }
      ]
    },
    ...mapGetters([
      'getDepartments',
      'isLoadingDepartments',
      'currentUserIsAdmin'
    ])
  },
  mounted () {
    this.loadDepartments()
  },
  methods: {
    hideDeleteDepartmentsDialog () {
      this.deleteDepartmentsDialog = false
    },
    deleteDepartments () {
      this.hideDeleteDepartmentsDialog()
      this.removeDepartments(this.selectedDepartments.map(d => d.id))
        .then((res) => {
          this.loadDepartments()
          const message = this.selectedDepartments.length === 1
            ? this.$t('toast.success_delete_department')
            : this.$t('toast.success_delete_departments')
          this.$toast.show(message, {
            duration: 3500,
            icon: 'delete',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
          this.selectedDepartments = []
        })
    },
    hideOverlay () {
      this.createDepartmentOverlay = false
    },
    handleRowClick (item) {
      this.$router.push({ path: `/department/${item.id}` })
    },
    reloadDepartments () {
      this.loadDepartments()
    },
    ...mapActions([
      'loadDepartments',
      'removeDepartments'
    ])
  },
  head () {
    return {
      title: this.$t('appNavigation.department')
    }
  }
}
</script>

<style scoped>
</style>
