<template>
  <div>
    <div>
      <v-overlay
        :value="deleteDepartmentOverlay"
        :dark="false"
        z-index="16448"
      >
        <DeleteEntityDialog
          :cancel="hideDeleteDialog"
          :delete-callback="deleteDepartment"
          :message="deleteDepartmentMessage"
        />
      </v-overlay>
      <v-overlay
        :value="updateDepartmentOverlay"
        :dark="false"
        z-index="16448"
      >
        <UpdateDepartmentForm :cancel="hideOverlay" :init-department-data="currentDepartment" />
      </v-overlay>
      <v-layout>
        <v-container fluid>
          <v-row>
            <v-btn
              icon
              color="primary"
              @click="handleBackClick"
            >
              <v-icon>
                mdi-arrow-left
              </v-icon>
            </v-btn>
            <v-btn
              v-if="currentUserIsAdmin"
              icon
              color="green"
              @click="updateDepartmentOverlay = true"
            >
              <v-icon>
                mdi-pencil
              </v-icon>
            </v-btn>
            <v-btn
              v-if="currentUserIsAdmin"
              icon
              color="red"
              @click="deleteDepartmentOverlay = true"
            >
              <v-icon>
                mdi-delete
              </v-icon>
            </v-btn>
            <v-btn
              icon
              color="primary"
              @click="reloadDepartment"
            >
              <v-icon>
                mdi-cached
              </v-icon>
            </v-btn>
          </v-row>
          <v-row>
            <v-container fluid>
              <FullDepartmentInfoCard
                class="department-card"
                :department="currentDepartment"
              />
            </v-container>
          </v-row>
          <v-row>
            <v-container fluid>
              <client-only>
                <v-data-table
                  :headers="headers"
                  :items="getCurrentDepartmentEmployees"
                  :items-per-page="5"
                  :loading="getCurrentDepartmentEmployeesIsLoading"
                  :options.sync="options"
                  :page="getCurrentDepartmentEmployeesPage"
                  :page-count="getCurrentDepartmentNumberOfPages"
                  :server-items-length="getCurrentDepartmentTotalEmployees"
                  multi-sort
                  item-key="id"
                  class="elevation-1"
                  :footer-props="{
                    'items-per-page-text': this.$t('employeeTable.per-page-string')
                  }"
                  @click:row="handleRowClick"
                >
                  <template v-slot:top>
                    <v-btn
                      icon
                      color="blue"
                      @click="refetchEmployees"
                    >
                      <v-icon>
                        mdi-cached
                      </v-icon>
                    </v-btn>
                  </template>
                  <template v-slot:item.status="{ item }">
                    <v-chip
                      :color="item.status.color"
                      dark
                    >
                      {{ item.status.status }}
                    </v-chip>
                  </template>
                  <template v-slot:item.avatar="{ item }">
                    <v-avatar
                      class="row-avatar"
                      size="62"
                    >
                      <v-img
                        v-if="!!item.photoFileName"
                        :src="employeePhotoApiUrl + item.photoFileName"
                      />
                      <v-img
                        v-else
                        :src="require('@/assets/depault_employee_photo.jpg')"
                      />
                    </v-avatar>
                  </template>
                </v-data-table>
              </client-only>
            </v-container>
          </v-row>
        </v-container>
      </v-layout>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ENV from '~/env.js'
import FullDepartmentInfoCard from '~/components/department/FullDepartmentInfoCard'
const UpdateDepartmentForm = () => import('~/components/admin/UpdateDepartmentForm.vue')
const DeleteEntityDialog = () => import('~/components/admin/DeleteEntityDialog.vue')
export default {
  name: 'DepartmentInfo',
  components: {
    FullDepartmentInfoCard,
    UpdateDepartmentForm,
    DeleteEntityDialog
  },
  layout: 'WorkspaceLayout',
  data: () => ({
    options: {},
    deleteDepartmentOverlay: false,
    updateDepartmentOverlay: false
  }),
  watch: {
    options: {
      handler () {
        const payload = {
          options: this.options,
          departmentId: this.$route.params.id
        }
        this.fetchEmployeesFromDepartments(payload)
      }
    },
    deep: true
  },
  mounted () {
    this.fetchDepartment(this.$route.params.id)
  },
  // eslint-disable-next-line vue/order-in-components
  computed: {
    headers () {
      return [
        { text: this.$t('employeeTable.firstName'), align: 'start', value: 'firstName', sortable: true },
        { text: this.$t('employeeTable.lastName'), value: 'lastName', sortable: true },
        { text: this.$t('employeeTable.patronymic'), value: 'patronymic', sortable: true },
        { text: this.$t('employeeTable.photo'), align: 'center', value: 'avatar', sortable: false },
        { text: this.$t('employeeTable.status'), value: 'status', sortable: false },
        { text: this.$t('employeeTable.phoneNumber'), value: 'phoneNumber', sortable: false },
        { text: this.$t('employeeTable.department'), value: 'department.title', sortable: false },
        { text: this.$t('employeeTable.position'), value: 'position', sortable: true }
      ]
    },
    employeePhotoApiUrl () {
      return ENV.EMPLOYEE_PHOTO_API_URL
    },
    deleteDepartmentMessage () {
      return this.$t('deleteDepartmentForm.deleteDepartmentWarning')
    },
    ...mapGetters([
      'currentDepartment',
      'getCurrentDepartmentEmployees',
      'getCurrentDepartmentEmployeesPage',
      'getCurrentDepartmentNumberOfPages',
      'getCurrentDepartmentTotalEmployees',
      'getCurrentDepartmentEmployeesIsLoading',
      'currentUserIsAdmin'
    ])
  },
  methods: {
    handleRowClick (item) {
      this.$router.push({ path: `/${ENV.EMPLOYEE_PAGE}/${item.id}` })
    },
    deleteDepartment () {
      this.deleteDepartmentOverlay = false
      this.removeDepartments([this.$route.params.id]).then((res) => {
        this.$router.push('/department')
        this.loadDepartments()
        this.$toast.show(this.$t('toast.success_delete_department'), {
          duration: 3500,
          icon: 'delete',
          className: 'vmr',
          action: {
            text: 'ОК',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        }).catch((e) => {
          const errors = e.response.data.subErrors
          errors.forEach((err) => {
            const errorMessage = err.message
            this.$toast.show(errorMessage, {
              duration: 3500,
              icon: 'info_outline',
              className: 'vmr',
              action: {
                text: 'ОК',
                onClick: (e, toastObject) => {
                  toastObject.goAway(0)
                }
              }
            })
          })
        })
      })
    },
    hideDeleteDialog () {
      this.deleteDepartmentOverlay = false
    },
    hideOverlay () {
      this.updateDepartmentOverlay = false
    },
    handleBackClick () {
      this.$router.push('/department')
    },
    reloadDepartment () {
      this.fetchDepartment(this.$route.params.id)
    },
    refetchEmployees () {
      const payload = {
        options: this.options,
        departmentId: this.$route.params.id
      }
      this.fetchEmployeesFromDepartments(payload)
    },
    ...mapActions([
      'fetchDepartment',
      'removeDepartments',
      'loadDepartments',
      'fetchEmployeesFromDepartments'
    ])
  },
  head () {
    return {
      title: this.$t('appNavigation.department_info')
    }
  }
}
</script>

<style scoped>
.row-avatar {
  margin-top: 5px;
  margin-bottom: 5px;
}

.department-card {
  max-width: 500px;
}
</style>
