<template>
  <div>
    <v-overlay
      :value="createEmployeeStatusOverlay"
      :dark="false"
      z-index="16448"
    >
      <NewEmployeeStatusForm
        :cancel="hideCreateStatusOverlay"
        :load-statuses-callback="fetchStatuses"
      />
    </v-overlay>
    <v-overlay
      :value="deleteEmployeeStatusOverlay"
      :dark="false"
      z-index="16448"
    >
      <DeleteEntityDialog
        :cancel="hideDeleteStatusOverlay"
        :message="deleteStatusesMessage"
        :delete-callback="removeEmployeeStatuses"
      />
    </v-overlay>
    <v-layout>
      <v-container fluid>
        <v-row>
          <p class="font-weight-light display-1 permission-title">
            {{ this.$t('employeeStatusTitle') }}
          </p>
        </v-row>
        <v-row justify="center">
          <v-container fluid>
            <client-only>
              <v-data-table
                v-model="selectedStatuses"
                :headers="headers"
                :items="statuses"
                :loading="isLoading"
                :hide-default-footer="true"
                show-select
                multi-sort
                item-key="id"
                class="elevation-1"
                @click:row="handleRowClick"
              >
                <template v-slot:top>
                  <v-btn
                    icon
                    color="green"
                    @click="createEmployeeStatusOverlay = true"
                  >
                    <v-icon>
                      mdi-plus
                    </v-icon>
                  </v-btn>
                  <v-btn
                    icon
                    color="blue"
                    @click="fetchStatuses"
                  >
                    <v-icon>
                      mdi-cached
                    </v-icon>
                  </v-btn>
                  <v-btn
                    v-if="selectedStatusesNotEmpty"
                    icon
                    color="red"
                    @click="deleteEmployeeStatusOverlay = true"
                  >
                    <v-icon>
                      mdi-delete
                    </v-icon>
                  </v-btn>
                </template>
                <template v-slot:item.color="{ item }">
                  <v-chip
                    :color="item.color"
                    dark
                  >
                    {{ item.color }}
                  </v-chip>
                </template>
              </v-data-table>
            </client-only>
          </v-container>
        </v-row>
      </v-container>
    </v-layout>
  </div>
</template>

<script>
import ENV from '~/env.js'
const NewEmployeeStatusForm = () => import('~/components/admin/NewEmployeeStatusForm.vue')
const DeleteEntityDialog = () => import('~/components/admin/DeleteEntityDialog.vue')
export default {
  name: 'EmployeeStatus',
  layout: 'WorkspaceLayout',
  middleware: 'IsAdminProtection',
  components: {
    NewEmployeeStatusForm,
    DeleteEntityDialog
  },
  data: () => ({
    selectedStatuses: [],
    statuses: [],
    isLoading: true,
    createEmployeeStatusOverlay: false,
    deleteEmployeeStatusOverlay: false
  }),
  computed: {
    headers () {
      return [
        { text: this.$t('employeeStatusTable.status'), value: 'status', align: 'start', sortable: false },
        { text: this.$t('employeeStatusTable.color'), value: 'color', align: 'start', sortable: false },
        { text: this.$t('employeeStatusTable.employeeCount'), value: 'employeeCount', align: 'start', sortable: true }
      ]
    },
    selectedStatusesNotEmpty () {
      return this.selectedStatuses.length !== 0
    },
    deleteStatusesMessage () {
      return this.selectedStatuses.length > 1
        ? this.$t('deleteEmployeeStatusDialog.deleteStatusesWarning')
        : this.$t('deleteEmployeeStatusDialog.deleteStatusWarning')
    }
  },
  mounted () {
    this.fetchStatuses()
  },
  methods: {
    handleRowClick (item) {
      this.$router.push(`/employee_status/${item.id}`)
    },
    async fetchStatuses () {
      this.isLoading = true
      const response = await this.$axios.get(ENV.FETCH_EMPLOYEE_STATUSES_API_URL)
      this.statuses = await response.data.statuses
      this.isLoading = false
    },
    hideCreateStatusOverlay () {
      this.createEmployeeStatusOverlay = false
    },
    hideDeleteStatusOverlay () {
      this.deleteEmployeeStatusOverlay = false
    },
    async removeEmployeeStatuses () {
      this.hideDeleteStatusOverlay()
      const request = {
        employeeStatuses: this.selectedStatuses.map(s => s.id)
      }

      try {
        // eslint-disable-next-line no-unused-vars
        const response = await this.$axios.delete(ENV.REMOVE_EMPLOYEE_STATUS_API_URL, {
          params: {
            lang: this.$i18n.lang
          },
          data: request
        })
        await this.fetchStatuses()
        const message = this.selectedStatuses.length > 1
          ? this.$t('toast.success_delete_employee_statuses')
          : this.$t('toast.success_delete_employee_status')
        this.selectedStatuses = []
        this.$toast.show(message, {
          duration: 3500,
          icon: 'delete',
          className: 'vmr',
          action: {
            text: 'ОК',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        })
      } catch (e) {
        const errors = e.response.data.subErrors
        errors.forEach((err) => {
          const errorMessage = err.message
          this.$toast.show(errorMessage, {
            duration: 3500,
            icon: 'info_outline',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        })
      }
    }
  },
  head () {
    return {
      title: this.$t('appNavigation.employee_status_info')
    }
  }
}
</script>

<style scoped>

</style>
