<template>
  <div>
    <v-overlay
      :value="deleteEmployeesDialog"
      :dark="false"
      z-index="16448"
    >
      <DeleteEntityDialog
        :cancel="hideDeleteEmployeesDialog"
        :message="deleteDialogMessage"
        :delete-callback="deleteEmployees"
      />
    </v-overlay>
    <v-overlay
      :value="createEmployeeOverlay"
      :dark="false"
      z-index="16448"
    >
      <NewEmployeeForm :cancel="hideOverlay" />
    </v-overlay>
    <v-layout>
      <v-container fluid>
        <v-row>
          <p class="font-weight-light display-1 permission-title">
            {{ this.$t('employeesTitle') }}
          </p>
        </v-row>
        <v-row justify="center">
          <v-container fluid>
            <client-only>
              <v-data-table
                v-model="selectedEmployees"
                :headers="headers"
                :items="getEmployees"
                :items-per-page="5"
                :loading="isLoadingEmployees"
                :options.sync="options"
                :page="getEmployeePage"
                :page-count="getEmployeeNumberOfPages"
                :server-items-length="getTotalEmployees"
                show-select
                multi-sort
                item-key="id"
                class="elevation-1"
                :footer-props="{
                  'items-per-page-text': this.$t('employeeTable.per-page-string')
                }"
                @click:row="handleRowClick"
              >
                <template v-slot:top>
                  <v-btn
                    icon
                    color="green"
                    @click="createEmployeeOverlay = true"
                  >
                    <v-icon>
                      mdi-plus
                    </v-icon>
                  </v-btn>
                  <v-btn
                    icon
                    color="blue"
                    @click="refetchEmployees"
                  >
                    <v-icon>
                      mdi-cached
                    </v-icon>
                  </v-btn>
                  <v-btn
                    v-if="isSelectedEmployeeNotEmpty && currentUserIsAdmin"
                    icon
                    color="red"
                    @click="deleteEmployeesDialog = true"
                  >
                    <v-icon>
                      mdi-delete
                    </v-icon>
                  </v-btn>
                </template>
                <template v-slot:item.status="{ item }">
                  <v-chip
                    :color="item.status.color"
                    dark
                  >
                    {{ item.status.status }}
                  </v-chip>
                </template>
                <template v-slot:item.avatar="{ item }">
                  <v-avatar
                    class="row-avatar"
                    size="62"
                  >
                    <v-img
                      v-if="!!item.photoFileName"
                      :src="employeePhotoApiUrl + item.photoFileName"
                    />
                    <v-img
                      v-else
                      :src="require('@/assets/depault_employee_photo.jpg')"
                    />
                  </v-avatar>
                </template>
              </v-data-table>
            </client-only>
          </v-container>
        </v-row>
      </v-container>
    </v-layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ENV from '~/env.js'
const NewEmployeeForm = () => import('@/components/admin/NewEmployeeForm.vue')
const DeleteEntityDialog = () => import('~/components/admin/DeleteEntityDialog.vue')
export default {
  name: 'Employee',
  layout: 'WorkspaceLayout',
  components: {
    NewEmployeeForm,
    DeleteEntityDialog
  },
  data: () => ({
    options: {},
    deleteEmployeesDialog: false,
    createEmployeeOverlay: false,
    selectedEmployees: []
  }),
  watch: {
    options: {
      handler () {
        this.fetchEmployeesFromApi(this.options)
      }
    },
    deep: true
  },
  computed: {
    employeePhotoApiUrl () {
      return ENV.EMPLOYEE_PHOTO_API_URL
    },
    isSelectedEmployeeNotEmpty () {
      return this.selectedEmployees.length !== 0
    },
    deleteDialogMessage () {
      return this.selectedEmployees.length > 1
        ? this.$t('deleteEmployeeDialog.deleteEmployeesWarning')
        : this.$t('deleteEmployeeDialog.deleteEmployeeWarning')
    },
    headers () {
      return [
        { text: this.$t('employeeTable.firstName'), align: 'start', value: 'firstName', sortable: true },
        { text: this.$t('employeeTable.lastName'), value: 'lastName', sortable: true },
        { text: this.$t('employeeTable.patronymic'), value: 'patronymic', sortable: true },
        { text: this.$t('employeeTable.photo'), align: 'center', value: 'avatar', sortable: false },
        { text: this.$t('employeeTable.status'), value: 'status', sortable: false },
        { text: this.$t('employeeTable.phoneNumber'), value: 'phoneNumber', sortable: false },
        { text: this.$t('employeeTable.department'), value: 'department.title', sortable: false },
        { text: this.$t('employeeTable.position'), value: 'position', sortable: true }
      ]
    },
    ...mapGetters([
      'getEmployees',
      'getEmployeePage',
      'getEmployeeNumberOfPages',
      'getTotalEmployees',
      'isLoadingEmployees',
      'currentUserIsAdmin'
    ])
  },
  mounted () {
    this.loadDepartments()
  },
  methods: {
    test (item) {
      const bool = !!item.photoFileName
      console.log(bool)
    },
    deleteEmployees () {
      this.hideDeleteEmployeesDialog()
      this.removeEmployees(this.selectedEmployees.map(e => e.id))
        .then((res) => {
          const message = this.selectedEmployees.length > 1
            ? this.$t('toast.success_delete_employees')
            : this.$t('toast.success_delete_employee')
          this.$toast.show(message, {
            duration: 3500,
            icon: 'delete',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
          this.selectedEmployees = []
          this.fetchEmployeesFromApi(this.options)
        })
    },
    handleRowClick (item) {
      this.$router.push({ path: `/${ENV.EMPLOYEE_PAGE}/${item.id}` })
    },
    hideDeleteEmployeesDialog () {
      this.deleteEmployeesDialog = false
    },
    hideOverlay () {
      this.createEmployeeOverlay = false
    },
    refetchEmployees () {
      this.fetchEmployeesFromApi(this.options)
    },
    ...mapActions([
      'loadDepartments',
      'fetchEmployeesFromApi',
      'removeEmployees'
    ])
  },
  head () {
    return {
      title: this.$t('appNavigation.employee')
    }
  }
}
</script>

<style scoped>
.row-avatar {
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>
