<template>
  <div>
    <v-overlay
      :value="editPermissionDialog"
      :dark="false"
      z-index="16448"
    >
      <UpdatePermissionForm
        :cancel="hideEditPermissionDialog"
        :init-permission-data="editedPermission"
      />
    </v-overlay>
    <v-overlay
      :value="photoDialog"
      :dark="false"
      z-index="16448"
    >
      <UploadEmployeePhotoForm
        :cancel="hideUploadPhotoDialog"
        :employee="currentEmployee"
      />
    </v-overlay>
    <v-overlay
      :value="createPermissionForm"
      :dark="false"
      z-index="16448"
    >
      <NewPermissionForm
        :cancel="hideNewPermissionForm"
      />
    </v-overlay>
    <v-overlay
      :value="deletePermissionsDialog"
      :dark="false"
      z-index="16448"
    >
      <DeleteEntityDialog
        :cancel="hideDeletePermissionsDialog"
        :message="deletePermissionsMessage"
        :delete-callback="deletePermissions"
      />
    </v-overlay>
    <v-overlay
      :value="deleteEmployeeDialog"
      :dark="false"
      z-index="16448"
    >
      <DeleteEntityDialog
        :cancel="hideDeleteEmployeeDialog"
        :delete-callback="deleteEmployee"
        :message="deleteDialogMessage"
      />
    </v-overlay>
    <v-overlay
      :value="updateEmployeeOverlay"
      :dark="false"
      z-index="16448"
    >
      <UpdateEmployeeForm :cancel="hideOverlay" :init-employee-data="currentEmployee" />
    </v-overlay>
    <v-layout v-if="currentEmployeeIsLoading" fill-height>
      <v-row align="center" justify="center">
        <v-progress-circular
          indeterminate
          color="primary"
          size="100"
        />
      </v-row>
    </v-layout>
    <v-layout v-else>
      <v-container fliud>
        <v-row>
          <v-btn
            icon
            color="primary"
            @click="handleBackClick"
          >
            <v-icon>
              mdi-arrow-left
            </v-icon>
          </v-btn>
          <v-btn
            v-if="currentUserIsAdmin"
            icon
            color="green"
            @click="updateEmployeeOverlay = true"
          >
            <v-icon>
              mdi-pencil
            </v-icon>
          </v-btn>
          <v-btn
            v-if="currentUserIsAdmin"
            icon
            color="red"
            @click="deleteEmployeeDialog = true"
          >
            <v-icon>
              mdi-delete
            </v-icon>
          </v-btn>
          <v-btn
            icon
            color="primary"
            @click="handleReloadEmployee"
          >
            <v-icon>
              mdi-cached
            </v-icon>
          </v-btn>
          <v-btn
            v-if="currentUserIsAdmin"
            icon
            color="secondary"
            @click="photoDialog = true"
          >
            <v-icon>
              camera
            </v-icon>
          </v-btn>
        </v-row>
        <v-row>
          <v-container fluid>
            <v-layout justify-space-between>
              <EmployeeInfoCard_v2
                class="employee-card"
                :employee="currentEmployee"
              />
              <client-only>
                <v-data-table
                  v-model="selectedPermissions"
                  :headers="permissionTableHeaders"
                  :items="currentEmployee.permissions"
                  show-select
                  item-key="id"
                  hide-default-footer
                  class="elevation-1 permission-table"
                >
                  <template v-slot:top>
                    <v-btn
                      icon
                      color="green"
                      @click="createPermissionForm = true"
                    >
                      <v-icon>
                        mdi-plus
                      </v-icon>
                    </v-btn>
                    <v-btn
                      v-if="isSelectedPermissions && currentUserIsAdmin"
                      icon
                      color="red"
                      @click="deletePermissionsDialog = true"
                    >
                      <v-icon>
                        mdi-delete
                      </v-icon>
                    </v-btn>
                  </template>
                  <template v-slot:item.status.status="{ item }">
                    <v-chip
                      :color="item.status.color"
                      dark
                    >
                      {{ item.status.status }}
                    </v-chip>
                  </template>
                  <template v-if="currentUserIsAdmin" v-slot:item.actions="{ item }">
                    <v-icon
                      small
                      @click="editPermission(item)"
                    >
                      mdi-pencil
                    </v-icon>
                  </template>
                </v-data-table>
              </client-only>
            </v-layout>
          </v-container>
        </v-row>
      </v-container>
    </v-layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
const UpdateEmployeeForm = () => import('~/components/admin/UpdateEmployeeForm.vue')
const DeleteEntityDialog = () => import('~/components/admin/DeleteEntityDialog.vue')
const NewPermissionForm = () => import('~/components/admin/NewPermissionForm.vue')
// eslint-disable-next-line camelcase
const EmployeeInfoCard_v2 = () => import('~/components/employee/EmployeeInfoCard_v2.vue')
const UploadEmployeePhotoForm = () => import('~/components/admin/UploadEmployeePhotoForm.vue')
const UpdatePermissionForm = () => import('~/components/admin/UpdatePermissionForm.vue')
export default {
  name: 'EmployeeInfo',
  layout: 'WorkspaceLayout',
  components: {
    UpdateEmployeeForm,
    DeleteEntityDialog,
    NewPermissionForm,
    EmployeeInfoCard_v2,
    UploadEmployeePhotoForm,
    UpdatePermissionForm
  },
  data: () => ({
    selectedPermissions: [],
    deleteEmployeeDialog: false,
    updateEmployeeOverlay: false,
    deletePermissionsDialog: false,
    createPermissionForm: false,
    photoDialog: false,
    editPermissionDialog: false,
    editedPermission: {
      login: '',
      password: '',
      selectedStatus: {
        id: '',
        title: ''
      },
      selectedResource: {
        id: '',
        title: ''
      }
    }
  }),
  computed: {
    permissionTableHeaders () {
      return [
        { text: this.$t('permissionTable.resource'), value: 'resource.title' },
        { text: this.$t('permissionTable.status'), value: 'status.status', align: 'center' },
        { text: this.$t('permissionTable.creationDate'), value: 'creationDate', align: 'center' },
        { text: this.$t('permissionTable.login'), value: 'credential.login' },
        { text: this.$t('permissionTable.password'), value: 'credential.password', sortable: false },
        { text: this.$t('permissionTable.actions'), value: 'actions', sortable: false, align: 'center' }
      ]
    },
    deletePermissionsMessage () {
      return this.selectedPermissions.length > 1
        ? this.$t('deletePermissionDialog.deletePermissionsWarning')
        : this.$t('deletePermissionDialog.deletePermissionWarning')
    },
    deleteDialogMessage () {
      return this.$t('deleteEmployeeDialog.deleteEmployeeWarning')
    },
    isSelectedPermissions () {
      return this.selectedPermissions.length !== 0
    },
    ...mapGetters([
      'currentEmployee',
      'currentEmployeeIsLoading',
      'currentUserIsAdmin'
    ])
  },
  mounted () {
    this.fetchEmployee(this.$route.params.id)
    this.loadResources()
    this.loadPermissionStatuses()
  },
  methods: {
    editPermission (item) {
      this.editedPermission = JSON.parse(JSON.stringify(item))
      this.editPermissionDialog = true
    },
    hideEditPermissionDialog () {
      this.editPermissionDialog = false
    },
    hideUploadPhotoDialog () {
      this.photoDialog = false
    },
    hideNewPermissionForm () {
      this.createPermissionForm = false
    },
    hideDeletePermissionsDialog () {
      this.deletePermissionsDialog = false
    },
    hideDeleteEmployeeDialog () {
      this.deleteEmployeeDialog = false
    },
    handleBackClick () {
      this.$router.push('/employee')
    },
    handleReloadEmployee () {
      this.fetchEmployee(this.$route.params.id)
    },
    deleteEmployee () {
      this.hideDeleteEmployeeDialog()
      this.removeEmployee(this.$route.params.id)
      this.$router.push('/employee')
      this.$toast.show(this.$t('toast.success_delete_employee'), {
        duration: 3500,
        icon: 'delete',
        className: 'vmr',
        action: {
          text: 'ОК',
          onClick: (e, toastObject) => {
            toastObject.goAway(0)
          }
        }
      })
    },
    deletePermissions () {
      this.hideDeletePermissionsDialog()
      const permissionIds = this.selectedPermissions.map(p => p.id)
      const request = {
        permissions: permissionIds
      }
      this.removePermissions(request)
        .then((res) => {
          const message = this.selectedPermissions.length > 1
            ? this.$t('toast.success_delete_permissions')
            : this.$t('toast.success_delete_permission')
          this.$toast.show(message, {
            duration: 3500,
            icon: 'delete',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
          this.selectedPermissions = []
          this.fetchEmployee(this.$route.params.id)
        })
    },
    hideOverlay () {
      this.updateEmployeeOverlay = false
    },
    ...mapActions([
      'fetchEmployee',
      'removePermissions',
      'removeEmployee',
      'loadResources',
      'loadPermissionStatuses'
    ])
  },
  head () {
    return {
      title: this.$t('appNavigation.employee_info')
    }
  }
}
</script>

<style scoped>
.employee-card {
  margin-right: 25px;
  max-height: 450px;
}

.permission-table {
  width: 100%;
}
</style>
