<template>
  <div>
    <v-overlay
      :value="updateStatusOverlay"
      :dark="false"
      z-index="16448"
    >
      <UpdateEmployeeStatusForm
        :cancel="hideUpdateStatusOverlay"
        :init-data="status"
        :callback="updateStatusCallback"
      />
    </v-overlay>
    <v-overlay
      :value="deleteEmployeeStatusDialog"
      :dark="false"
      z-index="16448"
    >
      <DeleteEntityDialog
        :cancel="hideDeleteDialog"
        :message="deleteDialogMessage"
        :delete-callback="removePermissionStatus"
      />
    </v-overlay>
    <v-layout>
      <v-container fluid>
        <v-row>
          <v-btn
            icon
            color="primary"
            @click="handleBackClick"
          >
            <v-icon>
              mdi-arrow-left
            </v-icon>
          </v-btn>
          <v-btn
            icon
            color="green"
            @click="updateStatusOverlay = true"
          >
            <v-icon>
              mdi-pencil
            </v-icon>
          </v-btn>
          <v-btn
            icon
            color="red"
            @click="deleteEmployeeStatusDialog = true"
          >
            <v-icon>
              mdi-delete
            </v-icon>
          </v-btn>
          <v-btn
            icon
            color="primary"
            @click="fetchStatus"
          >
            <v-icon>
              mdi-cached
            </v-icon>
          </v-btn>
        </v-row>
        <v-row>
          <v-container fluid>
            <FullEmployeeStatusInfoCard
              class="status-card"
              :employee-status="status"
            />
          </v-container>
        </v-row>
        <v-row>
          <v-container fluid>
            <p class="font-weight-light display-1 permission-title">
              {{ this.$t('employeesTitle') }}
            </p>
          </v-container>
        </v-row>
        <v-row>
          <v-container fluid>
            <client-only>
              <v-data-table
                :headers="headers"
                :items="employees"
                :items-per-page="5"
                :loading="isLoadingEmployees"
                :options.sync="options"
                :page="page"
                :page-count="numberOfPages"
                :server-items-length="totalEmployees"
                multi-sort
                item-key="id"
                class="elevation-1"
                @click:row="handleRowClick"
              >
                <template v-slot:top>
                  <v-btn
                    icon
                    color="blue"
                    @click="fetchEmployees"
                  >
                    <v-icon>
                      mdi-cached
                    </v-icon>
                  </v-btn>
                </template>
                <template v-slot:item.status="{ item }">
                  <v-chip
                    :color="item.status.color"
                    dark
                  >
                    {{ item.status.status }}
                  </v-chip>
                </template>
                <template v-slot:item.avatar="{ item }">
                  <v-avatar
                    class="row-avatar"
                    size="62"
                  >
                    <v-img
                      v-if="!!item.photoFileName"
                      :src="employeePhotoApiUrl + item.photoFileName"
                    />
                    <v-img
                      v-else
                      :src="require('@/assets/depault_employee_photo.jpg')"
                    />
                  </v-avatar>
                </template>
              </v-data-table>
            </client-only>
          </v-container>
        </v-row>
      </v-container>
    </v-layout>
  </div>
</template>

<script>
import ENV from '~/env.js'
const DeleteEntityDialog = () => import('~/components/admin/DeleteEntityDialog.vue')
const FullEmployeeStatusInfoCard = () => import('~/components/employee_status/FullEmployeeStatusInfoCard.vue')
const UpdateEmployeeStatusForm = () => import('~/components/admin/UpdateEmployeeStatusForm.vue')
export default {
  name: 'EmployeeStatusInfo',
  layout: 'WorkspaceLayout',
  middleware: 'IsAdminProtection',
  components: {
    DeleteEntityDialog,
    FullEmployeeStatusInfoCard,
    UpdateEmployeeStatusForm
  },
  data: () => ({
    updateStatusOverlay: false,
    deleteEmployeeStatusDialog: false,
    options: {},
    status: {
      id: '',
      status: '',
      color: '',
      employeeCount: ''
    },
    employees: [],
    isLoadingEmployees: true,
    page: 1,
    numberOfPages: 0,
    totalEmployees: 0
  }),
  computed: {
    deleteDialogMessage () {
      return this.$t('deleteEmployeeStatusDialog.deleteStatusWarning')
    },
    headers () {
      return [
        { text: this.$t('employeeTable.firstName'), align: 'start', value: 'firstName', sortable: true },
        { text: this.$t('employeeTable.lastName'), value: 'lastName', sortable: true },
        { text: this.$t('employeeTable.patronymic'), value: 'patronymic', sortable: true },
        { text: this.$t('employeeTable.photo'), align: 'center', value: 'avatar', sortable: false },
        { text: this.$t('employeeTable.status'), value: 'status', sortable: false },
        { text: this.$t('employeeTable.phoneNumber'), value: 'phoneNumber', sortable: false },
        { text: this.$t('employeeTable.department'), value: 'department.title', sortable: false },
        { text: this.$t('employeeTable.position'), value: 'position', sortable: true }
      ]
    }
  },
  watch: {
    options: {
      handler () {
        this.fetchEmployees()
      }
    },
    deep: true
  },
  mounted () {
    this.fetchStatus()
  },
  methods: {
    async updateStatusCallback () {
      await this.fetchStatus()
      await this.fetchEmployees()
    },
    hideUpdateStatusOverlay () {
      this.updateStatusOverlay = false
    },
    handleRowClick (item) {
      this.$router.push(`/employee/${item.id}`)
    },
    async removePermissionStatus () {
      this.hideDeleteDialog()
      const request = {
        employeeStatuses: [
          this.status.id
        ]
      }

      try {
        // eslint-disable-next-line no-unused-vars
        const response = await this.$axios.delete(ENV.REMOVE_EMPLOYEE_STATUS_API_URL, {
          params: {
            lang: this.$i18n.lang
          },
          data: request
        })
        await this.$router.push('/employee_status')
        this.$toast.show(this.$t('toast.success_delete_employee_status'), {
          duration: 3500,
          icon: 'delete',
          className: 'vmr',
          action: {
            text: 'ОК',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        })
      } catch (e) {
        const errors = e.response.data.subErrors
        errors.forEach((err) => {
          const errorMessage = err.message
          this.$toast.show(errorMessage, {
            duration: 3500,
            icon: 'info_outline',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        })
      }
    },
    hideDeleteDialog () {
      this.deleteEmployeeStatusDialog = false
    },
    async fetchEmployees () {
      this.isLoadingEmployees = true
      const { page, itemsPerPage, sortBy, sortDesc } = this.options
      const currentPage = page - 1
      const rParams = new URLSearchParams()
      rParams.append('size', itemsPerPage)
      rParams.append('page', currentPage)
      for (let i = 0; i < sortBy.length; i++) {
        const prop = sortBy[i]
        const sortDirection = sortDesc[i] ? 'desc' : 'asc'
        rParams.append('sort', `${prop},${sortDirection}`)
      }
      rParams.append('filter', `statusId:${this.$route.params.id}`)

      const response = await this.$axios.get(ENV.FETCH_EMPLOYEES_API_V2_URL, {
        params: rParams
      })
      this.isLoadingEmployees = false
      this.employees = await response.data.content
      this.totalEmployees = await response.data.totalElements
      this.numberOfPages = await response.data.totalPages
    },
    async fetchStatus () {
      const response = await this.$axios.get(ENV.FETCH_EMPLOYEE_STATUS_BY_ID_API_URL + this.$route.params.id)
      this.status = response.data
    },
    handleBackClick () {
      this.$router.push('/employee_status')
    }
  },
  head () {
    return {
      title: this.$t('appNavigation.employee_status')
    }
  }
}
</script>

<style scoped>
.status-card {
  max-width: 450px;
}

.row-avatar {
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>
