<template>
  <div>
    <v-overlay
      :value="deletePermissionStatusesDialog"
      :dark="false"
      z-index="16448"
    >
      <DeleteEntityDialog
        :cancel="hideDeleteDialog"
        :message="deleteStatusesMessage"
        :delete-callback="removePermissionStatuses"
      />
    </v-overlay>
    <v-overlay
      :value="createPermissionStatusForm"
      :dark="false"
      z-index="16448"
    >
      <NewPermissionStatusForm :cancel="hideCreatePermissionStatusForm"/>
    </v-overlay>
    <v-layout>
      <v-container fluid>
        <v-row>
          <p class="font-weight-light display-1 permission-title">
            {{ this.$t('permissionStatusTitle') }}
          </p>
        </v-row>
        <v-row justify="center">
          <v-container fluid>
            <client-only>
              <v-data-table
                v-model="selectedStatuses"
                :headers="headers"
                :items="getPermissionStatuses"
                :loading="getPermissionStatusesIsLoading"
                :hide-default-footer="true"
                show-select
                multi-sort
                item-key="id"
                class="elevation-1"
                @click:row="handleRowClick"
              >
                <template v-slot:top>
                  <v-btn
                    icon
                    color="green"
                    @click="createPermissionStatusForm = true"
                  >
                    <v-icon>
                      mdi-plus
                    </v-icon>
                  </v-btn>
                  <v-btn
                    icon
                    color="blue"
                    @click="refetchPermissionStatuses"
                  >
                    <v-icon>
                      mdi-cached
                    </v-icon>
                  </v-btn>
                  <v-btn
                    v-if="isSelectedStatusesNotEmpty"
                    icon
                    color="red"
                    @click="deletePermissionStatusesDialog = true"
                  >
                    <v-icon>
                      mdi-delete
                    </v-icon>
                  </v-btn>
                </template>
                <template v-slot:item.color="{ item }">
                  <v-chip
                    :color="item.color"
                    dark
                  >
                    {{ item.color }}
                  </v-chip>
                </template>
              </v-data-table>
            </client-only>
          </v-container>
        </v-row>
      </v-container>
    </v-layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
const NewPermissionStatusForm = () => import('~/components/admin/NewPermissionStatusForm.vue')
const DeleteEntityDialog = () => import('~/components/admin/DeleteEntityDialog.vue')
export default {
  name: 'PermissionStatus',
  layout: 'WorkspaceLayout',
  middleware: 'IsAdminProtection',
  components: {
    NewPermissionStatusForm,
    DeleteEntityDialog
  },
  data: () => ({
    deletePermissionStatusesDialog: false,
    createPermissionStatusForm: false,
    selectedStatuses: []
  }),
  computed: {
    deleteStatusesMessage () {
      return this.selectedStatuses.length > 1
        ? this.$t('deletePermissionStatusDialog.deleteEntitiesWarning')
        : this.$t('deletePermissionStatusDialog.deleteEntityWarning')
    },
    isSelectedStatusesNotEmpty () {
      return this.selectedStatuses.length !== 0
    },
    headers () {
      return [
        { text: this.$t('permissionStatusTable.status'), value: 'status', align: 'start', sortable: false },
        { text: this.$t('permissionStatusTable.color'), value: 'color', align: 'start', sortable: false },
        { text: this.$t('permissionStatusTable.permissionCount'), value: 'permissionCount', align: 'start', sortable: true }
      ]
    },
    ...mapGetters([
      'getPermissionStatuses',
      'getPermissionStatusesIsLoading'
    ])
  },
  mounted () {
    this.loadPermissionStatuses()
  },
  methods: {
    removePermissionStatuses () {
      this.hideDeleteDialog()
      const payload = {
        request: {
          permissionStatuses: this.selectedStatuses.map(s => s.id)
        }
      }
      this.deletePermissionStatus(payload).then((res) => {
        this.loadPermissionStatuses()
        const message = this.selectedStatuses.length > 1
          ? this.$t('toast.success_delete_permission_statuses')
          : this.$t('toast.success_delete_permission_status')
        this.selectedStatuses = []
        this.$toast.show(message, {
          duration: 3500,
          icon: 'delete',
          className: 'vmr',
          action: {
            text: 'ОК',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        })
      }).catch((e) => {
        const errors = e.response.data.subErrors
        errors.forEach((err) => {
          const errorMessage = err.message
          this.$toast.show(errorMessage, {
            duration: 3500,
            icon: 'info_outline',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        })
      })
    },
    hideDeleteDialog () {
      this.deletePermissionStatusesDialog = false
    },
    hideCreatePermissionStatusForm () {
      this.createPermissionStatusForm = false
    },
    refetchPermissionStatuses () {
      this.loadPermissionStatuses()
    },
    handleRowClick (item) {
      this.$router.push(`/permission_status/${item.id}`)
    },
    ...mapActions([
      'loadPermissionStatuses',
      'deletePermissionStatus'
    ])
  },
  head () {
    return {
      title: this.$t('appNavigation.permission_status')
    }
  }
}
</script>

<style scoped>

</style>
