<template>
  <div>
    <v-overlay
      :value="deletePermissionStatusDialog"
      :dark="false"
      z-index="16448"
    >
      <DeleteEntityDialog
        :cancel="hideDeleteDialog"
        :message="deleteDialogMessage"
        :delete-callback="removePermissionStatus"
      />
    </v-overlay>
    <v-overlay
      :value="updatePermissionStatusDialog"
      :dark="false"
      z-index="16448"
    >
      <UpdatePermissionStatusForm
        :init-permission-status-data="getCurrentPermissionStatus"
        :callback="refetchPermissions"
        :cancel="hideUpdateStatusDialog"
      />
    </v-overlay>
    <v-layout>
      <v-container fluid>
        <v-row>
          <v-btn
            icon
            color="primary"
            @click="handleBackClick"
          >
            <v-icon>
              mdi-arrow-left
            </v-icon>
          </v-btn>
          <v-btn
            icon
            color="green"
            @click="updatePermissionStatusDialog = true"
          >
            <v-icon>
              mdi-pencil
            </v-icon>
          </v-btn>
          <v-btn
            icon
            color="red"
            @click="deletePermissionStatusDialog = true"
          >
            <v-icon>
              mdi-delete
            </v-icon>
          </v-btn>
          <v-btn
            icon
            color="primary"
            @click="refetchStatus"
          >
            <v-icon>
              mdi-cached
            </v-icon>
          </v-btn>
        </v-row>
        <v-row>
          <v-container fluid>
            <FullPermissionStatusInfoCard
              class="status-card"
              :permission-status="getCurrentPermissionStatus"
            />
          </v-container>
        </v-row>
        <v-row>
          <v-container fluid>
            <p class="font-weight-light display-1 permission-title">
              {{ this.$t('permissionsTitle') }}
            </p>
          </v-container>
        </v-row>
        <v-row>
          <v-container fluid>
            <client-only>
              <v-data-table
                :headers="headers"
                :items="getCurrentPermissionStatusPermissions"
                :items-per-page="5"
                :loading="getCurrentPermissionStatusIsLoadingPermissions"
                :options.sync="options"
                :page="getCurrentPermissionStatusPage"
                :page-count="getCurrentPermissionStatusNumberOfPages"
                :server-items-length="getCurrentPermissionStatusTotalPermissions"
                multi-sort
                item-key="id"
                class="elevation-1"
                :footer-props="{
                  'items-per-page-text': this.$t('permissionTable.per-page-string')
                }"
              >
                <template v-slot:top>
                  <v-btn
                    icon
                    color="blue"
                    @click="refetchPermissions"
                  >
                    <v-icon>
                      mdi-cached
                    </v-icon>
                  </v-btn>
                </template>
                <template v-slot:item.status.status="{ item }">
                  <v-chip
                    :color="item.status.color"
                    dark
                  >
                    {{ item.status.status }}
                  </v-chip>
                </template>
              </v-data-table>
            </client-only>
          </v-container>
        </v-row>
      </v-container>
    </v-layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
const FullPermissionStatusInfoCard = () => import('~/components/permission_status/FullPermissionStatusinfoCard.vue')
const DeleteEntityDialog = () => import('~/components/admin/DeleteEntityDialog.vue')
const UpdatePermissionStatusForm = () => import('~/components/admin/UpdatePermissionStatusForm.vue')
export default {
  name: 'PermissionStatusInfo',
  layout: 'WorkspaceLayout',
  middleware: 'IsAdminProtection',
  components: {
    FullPermissionStatusInfoCard,
    DeleteEntityDialog,
    UpdatePermissionStatusForm
  },
  data: () => ({
    updatePermissionStatusDialog: false,
    deletePermissionStatusDialog: false,
    options: {}
  }),
  watch: {
    options: {
      handler () {
        const payload = {
          options: this.options,
          statusId: this.$route.params.id
        }
        this.fetchPermissionFromPermissionStatus(payload)
      }
    }
  },
  computed: {
    headers () {
      return [
        { text: this.$t('permissionTable.resource'), align: 'start', value: 'resource.title', sortable: true },
        { text: this.$t('permissionTable.status'), align: 'start', value: 'status.status', sortable: true },
        { text: this.$t('permissionTable.creationDate'), align: 'start', value: 'creationDate', sortable: true },
        { text: this.$t('permissionTable.login'), align: 'start', value: 'credential.login', sortable: false },
        { text: this.$t('permissionTable.password'), align: 'start', value: 'credential.password', sortable: false }
      ]
    },
    deleteDialogMessage () {
      return this.$t('deletePermissionStatusDialog.deleteEntityWarning')
    },
    ...mapGetters([
      'getCurrentPermissionStatus',
      'getCurrentPermissionStatusPermissions',
      'getCurrentPermissionStatusPage',
      'getCurrentPermissionStatusNumberOfPages',
      'getCurrentPermissionStatusTotalPermissions',
      'getCurrentPermissionStatusIsLoadingPermissions'
    ])
  },
  mounted () {
    const payload = {
      statusId: this.$route.params.id
    }
    this.fetchPermissionStatus(payload)
  },
  methods: {
    hideUpdateStatusDialog () {
      this.updatePermissionStatusDialog = false
    },
    refetchPermissions () {
      const payload = {
        options: this.options,
        statusId: this.$route.params.id
      }
      this.fetchPermissionFromPermissionStatus(payload)
    },
    removePermissionStatus () {
      this.hideDeleteDialog()
      const payload = {
        request: {
          permissionStatuses: [this.$route.params.id]
        }
      }
      this.deletePermissionStatus(payload).then((res) => {
        this.$router.push('/permission_status')
        this.loadPermissionStatuses()
        this.$toast.show(this.$t('toast.success_delete_permission_status'), {
          duration: 3500,
          icon: 'delete',
          className: 'vmr',
          action: {
            text: 'ОК',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        })
      }).catch((e) => {
        const errors = e.response.data.subErrors
        errors.forEach((err) => {
          const errorMessage = err.message
          this.$toast.show(errorMessage, {
            duration: 3500,
            icon: 'info_outline',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        })
      })
    },
    hideDeleteDialog () {
      this.deletePermissionStatusDialog = false
    },
    refetchStatus () {
      const payload = {
        statusId: this.$route.params.id
      }
      this.fetchPermissionStatus(payload)
    },
    handleBackClick () {
      this.$router.push('/permission_status')
    },
    ...mapActions([
      'fetchPermissionStatus',
      'deletePermissionStatus',
      'loadPermissionStatuses',
      'fetchPermissionFromPermissionStatus'
    ])
  },
  head () {
    return {
      title: this.$t('appNavigation.permission_status_info')
    }
  }
}
</script>

<style scoped>
.status-card {
  max-width: 450px;
}
</style>
