<template>
  <div>
    <v-overlay
      :value="updateResourceForm"
      :dark="false"
      z-index="16448"
    >
      <UpdateResourceForm
        :cancel="hideUpdateResourceForm"
        :init-resource-data="getCurrentResource"
      />
    </v-overlay>
    <v-overlay
      :value="deleteResourceDialog"
      :dark="false"
      z-index="16448"
    >
      <DeleteEntityDialog
        :cancel="hideRemoveResourceDialog"
        :delete-callback="removeResource"
        :message="deleteDialogMessage"
      />
    </v-overlay>
    <v-layout>
      <v-container fluid>
        <v-row>
          <v-btn
            icon
            color="primary"
            @click="handleBackClick"
          >
            <v-icon>
              mdi-arrow-left
            </v-icon>
          </v-btn>
          <v-btn
            v-if="currentUserIsAdmin"
            icon
            color="green"
            @click="updateResourceForm = true"
          >
            <v-icon>
              mdi-pencil
            </v-icon>
          </v-btn>
          <v-btn
            v-if="currentUserIsAdmin"
            icon
            color="red"
            @click="openRemoveResourceDialog"
          >
            <v-icon>
              mdi-delete
            </v-icon>
          </v-btn>
          <v-btn
            icon
            color="primary"
            @click="reloadResource"
          >
            <v-icon>
              mdi-cached
            </v-icon>
          </v-btn>
        </v-row>
        <v-row>
          <v-container fluid>
            <FullResourceInfoCard
              class="resource-card"
              :resource="getCurrentResource"
            />
          </v-container>
        </v-row>
        <v-row>
          <v-container fluid>
            <p class="font-weight-light display-1 permission-title">
              {{ this.$t('permissionsTitle') }}
            </p>
          </v-container>
        </v-row>
        <v-row>
          <v-container fluid>
            <client-only>
              <v-data-table
                :headers="headers"
                :items="getCurrentResourcePermissions"
                :items-per-page="5"
                :loading="getCurrentResourceIsLoadingPermissions"
                :options.sync="options"
                :page="getCurrentResourcePage"
                :page-count="getCurrentResourceNumberOfPages"
                :server-items-length="getCurrentResourceTotalPermissions"
                multi-sort
                item-key="id"
                class="elevation-1"
                :footer-props="{
                  'items-per-page-text': this.$t('permissionTable.per-page-string')
                }"
              >
                <template v-slot:top>
                  <v-btn
                    icon
                    color="blue"
                    @click="refetchPermissions"
                  >
                    <v-icon>
                      mdi-cached
                    </v-icon>
                  </v-btn>
                </template>
                <template v-slot:item.status.status="{ item }">
                  <v-chip
                    :color="item.status.color"
                    dark
                  >
                    {{ item.status.status }}
                  </v-chip>
                </template>
              </v-data-table>
            </client-only>
          </v-container>
        </v-row>
      </v-container>
    </v-layout>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
const DeleteEntityDialog = () => import('~/components/admin/DeleteEntityDialog.vue')
const UpdateResourceForm = () => import('~/components/admin/UpdateResourceForm.vue')
const FullResourceInfoCard = () => import('~/components/resource/FullResourceInfoCard.vue')
export default {
  name: 'ResourceInfo',
  layout: 'WorkspaceLayout',
  components: {
    DeleteEntityDialog,
    FullResourceInfoCard,
    UpdateResourceForm
  },
  data: () => ({
    options: {},
    updateResourceForm: false,
    deleteResourceDialog: false
  }),
  watch: {
    options: {
      handler () {
        const payload = {
          options: this.options,
          resourceId: this.$route.params.id
        }
        this.fetchPermissionsFromResource(payload)
      }
    }
  },
  mounted () {
    const payload = {
      resourceId: this.$route.params.id
    }
    this.fetchResource(payload)
  },
  computed: {
    headers () {
      return [
        { text: this.$t('permissionTable.resource'), align: 'start', value: 'resource.title', sortable: false },
        { text: this.$t('permissionTable.status'), align: 'start', value: 'status.status', sortable: true },
        { text: this.$t('permissionTable.creationDate'), align: 'start', value: 'creationDate', sortable: true },
        { text: this.$t('permissionTable.login'), align: 'start', value: 'credential.login', sortable: false },
        { text: this.$t('permissionTable.password'), align: 'start', value: 'credential.password', sortable: false }
      ]
    },
    deleteDialogMessage () {
      return this.$t('deleteResourceDialog.deleteResourceWarning')
    },
    ...mapGetters([
      'getCurrentResource',
      'getCurrentResourcePermissions',
      'getCurrentResourcePage',
      'getCurrentResourceNumberOfPages',
      'getCurrentResourceTotalPermissions',
      'getCurrentResourceIsLoadingPermissions',
      'currentUserIsAdmin'
    ])
  },
  methods: {
    hideUpdateResourceForm () {
      this.updateResourceForm = false
    },
    openRemoveResourceDialog () {
      this.deleteResourceDialog = true
    },
    hideRemoveResourceDialog () {
      this.deleteResourceDialog = false
    },
    removeResource () {
      const payload = {
        resources: [this.$route.params.id]
      }
      this.deleteResourceDialog = false
      this.deleteResources(payload).then((res) => {
        this.$router.push('/resource')
        this.loadResources()
        this.$toast.show(this.$t('toast.success_delete_resource'), {
          duration: 3500,
          icon: 'delete',
          className: 'vmr',
          action: {
            text: 'ОК',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        })
      }).catch((e) => {
        const errors = e.response.data.subErrors
        errors.forEach((err) => {
          const errorMessage = err.message
          this.$toast.show(errorMessage, {
            duration: 3500,
            icon: 'info_outline',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        })
      })
    },
    refetchPermissions () {
      const payload = {
        options: this.options,
        resourceId: this.$route.params.id
      }
      this.fetchPermissionsFromResource(payload)
    },
    handleBackClick () {
      this.$router.push('/resource')
    },
    reloadResource () {
      const payload = {
        resourceId: this.$route.params.id
      }
      this.fetchResource(payload)
    },
    ...mapActions([
      'fetchResource',
      'fetchPermissionsFromResource',
      'deleteResources',
      'loadResources'
    ])
  },
  head () {
    return {
      title: this.$t('appNavigation.resource_info')
    }
  }
}
</script>

<style scoped>
.resource-card {
  max-width: 400px;
}
</style>
