<template>
  <div>
    <v-overlay
      :value="deleteResourcesDialog"
      :dark="false"
      z-index="16448"
    >
      <DeleteEntityDialog
        :cancel="hideDeleteResourcesDialog"
        :delete-callback="removeResources"
        :message="removeResourceMessage"
      />
    </v-overlay>
    <v-overlay
      :value="createResourceOverlay"
      :dark="false"
      z-index="16448"
    >
      <NewResourceForm :cancel="hideNewResourceOverlay" />
    </v-overlay>
    <v-layout>
      <v-container fluid>
        <v-row>
          <p class="font-weight-light display-1 permission-title">
            {{ this.$t('resourceTitle') }}
          </p>
        </v-row>
        <v-row justify="center">
          <v-container fluid>
            <client-only>
              <v-data-table
                v-model="selectedResources"
                :headers="headers"
                :items="getResources"
                :loading="isLoadingResources"
                :hide-default-footer="true"
                show-select
                multi-sort
                item-key="id"
                class="elevation-1"
                @click:row="handleRowClick"
              >
                <template v-slot:top>
                  <v-btn
                    v-if="currentUserIsAdmin"
                    icon
                    color="green"
                    @click="createResourceOverlay = true"
                  >
                    <v-icon>
                      mdi-plus
                    </v-icon>
                  </v-btn>
                  <v-btn
                    icon
                    color="blue"
                    @click="reloadResources"
                  >
                    <v-icon>
                      mdi-cached
                    </v-icon>
                  </v-btn>
                  <v-btn
                    v-if="currentUserIsAdmin && isSelectedResourcesNotEmpty"
                    icon
                    color="red"
                    @click="deleteResourcesDialog = true"
                  >
                    <v-icon>
                      mdi-delete
                    </v-icon>
                  </v-btn>
                </template>
              </v-data-table>
            </client-only>
          </v-container>
        </v-row>
      </v-container>
    </v-layout>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
const NewResourceForm = () => import('~/components/admin/NewResourceForm.vue')
const DeleteEntityDialog = () => import('~/components/admin/DeleteEntityDialog.vue')
export default {
  name: 'Resource',
  layout: 'WorkspaceLayout',
  components: {
    NewResourceForm,
    DeleteEntityDialog
  },
  data: () => ({
    selectedResources: [],
    createResourceOverlay: false,
    deleteResourcesDialog: false
  }),
  computed: {
    headers () {
      return [
        { text: this.$t('permissionObserverTable.title'), value: 'title', align: 'start', sortable: true },
        { text: this.$t('permissionObserverTable.permissionCount'), value: 'permissionCount', align: 'start', sortable: true }
      ]
    },
    removeResourceMessage () {
      return this.selectedResources.length > 1
        ? this.$t('deleteResourceDialog.deleteResourcesWarning')
        : this.$t('deleteResourceDialog.deleteResourceWarning')
    },
    isSelectedResourcesNotEmpty () {
      return this.selectedResources.length !== 0
    },
    ...mapGetters([
      'getResources',
      'isLoadingResources',
      'currentUserIsAdmin'
    ])
  },
  mounted () {
    this.loadResources()
  },
  methods: {
    hideDeleteResourcesDialog () {
      this.deleteResourcesDialog = false
    },
    removeResources () {
      this.hideDeleteResourcesDialog()
      const payload = {
        resources: this.selectedResources.map(r => r.id)
      }
      this.deleteResources(payload).then((res) => {
        this.loadResources()
        const message = this.selectedResources.length === 1 ? this.$t('toast.success_delete_resource') : this.$t('toast.success_delete_resources')
        this.selectedResources = []
        this.$toast.show(message, {
          duration: 3500,
          icon: 'delete',
          className: 'vmr',
          action: {
            text: 'ОК',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        })
      })
    },
    hideNewResourceOverlay () {
      this.createResourceOverlay = false
    },
    handleRowClick (item) {
      this.$router.push(`/resource/${item.id}`)
    },
    reloadResources () {
      this.loadResources()
    },
    ...mapActions([
      'loadResources',
      'deleteResources'
    ])
  },
  head () {
    return {
      title: this.$t('appNavigation.resource')
    }
  }
}
</script>

<style scoped>

</style>
