<template>
  <v-layout>
    <v-container fluid>
      <v-row>
        <p class="font-weight-light display-1 permission-title">
          {{ this.$t('searchEmployee.title') }}
        </p>
      </v-row>
      <v-row>
        <v-container fluid>
          <v-layout justify-space-between>
            <SearchCard
              :search-callback="search"
              class="search-card"
            />
            <client-only>
              <v-data-table
                :headers="headers"
                :items="employees"
                :items-per-page="5"
                :loading="isLoadingEmployees"
                :options.sync="options"
                :page="page"
                :page-count="numberOfPages"
                :server-items-length="totalEmployees"
                multi-sort
                item-key="id"
                class="elevation-1 employee-table"
              >
                <template v-slot:item.status="{ item }">
                  <v-chip
                    :color="item.status.color"
                    dark
                  >
                    {{ item.status.status }}
                  </v-chip>
                </template>
                <template v-slot:item.avatar="{ item }">
                  <v-avatar
                    class="row-avatar"
                    size="62"
                  >
                    <v-img
                      v-if="!!item.photoFileName"
                      :src="employeePhotoApiUrl + item.photoFileName"
                    />
                    <v-img
                      v-else
                      :src="require('@/assets/depault_employee_photo.jpg')"
                    />
                  </v-avatar>
                </template>
              </v-data-table>
            </client-only>
          </v-layout>
        </v-container>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import ENV from '@/env'
const SearchCard = () => import('~/components/search/SearchCard.vue')
export default {
  name: 'Search',
  layout: 'WorkspaceLayout',
  components: {
    SearchCard
  },
  data: () => ({
    options: {},

    employees: [],
    isLoadingEmployees: true,
    page: 1,
    numberOfPages: 0,
    totalEmployees: 0,

    firstName: '',
    lastName: '',
    patronymic: '',
    position: ''
  }),
  computed: {
    headers () {
      return [
        { text: this.$t('employeeTable.firstName'), align: 'start', value: 'firstName', sortable: true },
        { text: this.$t('employeeTable.lastName'), value: 'lastName', sortable: true },
        { text: this.$t('employeeTable.patronymic'), value: 'patronymic', sortable: true },
        { text: this.$t('employeeTable.photo'), align: 'center', value: 'avatar', sortable: false },
        { text: this.$t('employeeTable.status'), value: 'status', sortable: false },
        { text: this.$t('employeeTable.phoneNumber'), value: 'phoneNumber', sortable: false },
        { text: this.$t('employeeTable.department'), value: 'department.title', sortable: false },
        { text: this.$t('employeeTable.position'), value: 'position', sortable: true }
      ]
    }
  },
  watch: {
    options: {
      handler () {
        this.fetchEmployees()
      }
    },
    deep: true
  },
  methods: {
    search (payload) {
      this.firstName = payload.firstName
      this.lastName = payload.lastName
      this.patronymic = payload.patronymic
      this.position = payload.position
      this.fetchEmployees()
    },
    async fetchEmployees () {
      this.isLoadingEmployees = true
      const { page, itemsPerPage, sortBy, sortDesc } = this.options
      const currentPage = page - 1
      const rParams = new URLSearchParams()
      rParams.append('size', itemsPerPage)
      rParams.append('page', currentPage)
      for (let i = 0; i < sortBy.length; i++) {
        const prop = sortBy[i]
        const sortDirection = sortDesc[i] ? 'desc' : 'asc'
        rParams.append('sort', `${prop},${sortDirection}`)
      }
      if (this.firstName !== '') {
        rParams.append('filter', `firstName:${this.firstName}`)
      }
      if (this.lastName !== '') {
        rParams.append('filter', `lastName:${this.lastName}`)
      }
      if (this.patronymic !== '') {
        rParams.append('filter', `patronymic:${this.patronymic}`)
      }
      if (this.position !== '') {
        rParams.append('filter', `position:${this.position}`)
      }

      const response = await this.$axios.get(ENV.FETCH_EMPLOYEES_API_V2_URL, {
        params: rParams
      })
      this.isLoadingEmployees = false
      this.employees = await response.data.content
      this.totalEmployees = await response.data.totalElements
      this.numberOfPages = await response.data.totalPages
    }
  }
}
</script>

<style scoped>
.search-card {
  margin-right: 25px;
  max-height: 450px;
}

.employee-table {
  width: 100%;
}

.row-avatar {
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>
