<template>
  <v-layout fill-height>
    <v-row align="center" justify="center">
      <SignInCard class="signin-card" />
    </v-row>
  </v-layout>
</template>

<script>
const SignInCard = () => import('~/components/user/signin/SignIn.vue')
export default {
  name: 'SignInPage',
  layout: 'EmptyLayout',
  components: {
    SignInCard
  },
  auth: 'guest',
  head () {
    return {
      title: this.$t('appNavigation.signin')
    }
  }
}
</script>

<style scoped>
.signin-card {
  min-width: 350px;
  margin-top: 150px;
}
</style>
