<template>
  <v-layout>
    <v-overlay
      :value="updateUserPasswordForm"
      :dark="false"
      z-index="16448"
    >
      <UpdateUserPasswordForm
        :cancel="hideUpdateUserPasswordForm"
        :init-user-data="currentUser"
        :load-user-callback="reloadCurrentUser"
      />
    </v-overlay>
    <v-overlay
      :value="updateCurrentUserOverlay"
      :dark="false"
      z-index="16448"
    >
      <UpdateUserForm
        :cancel="hideUpdateCurrentUserOverlay"
        :init-user-data="currentUser"
        :load-users-callback="loadUsers"
        :load-current-user-callback="reloadCurrentUser"
      />
    </v-overlay>
    <v-overlay
      :value="deleteCurrentUserOverlay"
      :dark="false"
      z-index="16448"
    >
      <DeleteEntityDialog
        :cancel="hideDeleteCurrentUserOverlay"
        :message="deleteUserDialogMessage"
        :delete-callback="deleteCurrentUser"
      />
    </v-overlay>
    <v-overlay
      :value="newUserOverlay"
      :dark="false"
      z-index="16448"
    >
      <NewUserForm
        :cancel="hideNewUserOverlay"
        :load-users-callback="loadUsers"
      />
    </v-overlay>
    <v-container fluid full-height>
      <v-row>
        <v-col
          cols="3"
        >
          <v-layout fluid>
            <v-spacer />
            <v-btn
              icon
              color="green"
              @click="newUserOverlay = true"
            >
              <v-icon>
                mdi-plus
              </v-icon>
            </v-btn>
          </v-layout>
          <v-virtual-scroll
            id="users-list"
            :items="users"
            :item-height="70"
            class="user-list"
          >
            <template v-slot:default="{ item }">
              <v-list-item
                @click="handleItemClick(item)"
              >
                <v-list-item-avatar>
                  <v-avatar color="#2ee6bb" size="62">
                    <span class="white--text headline">
                      {{ item.username.charAt(0).toUpperCase() }}
                    </span>
                  </v-avatar>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title
                    v-text="item.username"
                  />
                  <v-list-item-subtitle
                    :class="item.active ? 'active-user-text' : 'disabled-user-text'"
                    v-text="item.active ? activeStatusText : disabledStatusText"
                  />
                </v-list-item-content>
              </v-list-item>
              <v-divider />
            </template>
          </v-virtual-scroll>
        </v-col>
        <v-divider vertical />
        <v-col>
          <v-layout v-if="currentUserIsLoading" fill-height>
            <v-row align="center" justify="center">
              <v-progress-circular
                indeterminate
                color="primary"
                size="100"
              />
            </v-row>
          </v-layout>
          <v-layout v-else-if="mockCurrentUser" fill-height>
            <v-row align="center" justify="center">
              <p class="font-weight-light display-1">
                {{ this.$t('userInfo.selectUser') }}
              </p>
            </v-row>
          </v-layout>
          <v-layout v-else height>
            <v-container>
              <v-row class="mb-2">
                <v-btn
                  icon
                  color="info"
                  @click="reloadCurrentUser"
                >
                  <v-icon>
                    mdi-cached
                  </v-icon>
                </v-btn>
                <v-btn
                  icon
                  color="green"
                  @click="updateCurrentUserOverlay = true"
                >
                  <v-icon>
                    mdi-pencil
                  </v-icon>
                </v-btn>
                <v-btn
                  icon
                  color="red"
                  @click="deleteCurrentUserOverlay = true"
                >
                  <v-icon>
                    mdi-delete
                  </v-icon>
                </v-btn>
                <v-btn
                  icon
                  color="green"
                  @click="updateUserPasswordForm = true"
                >
                  <v-icon>
                    mdi-star
                  </v-icon>
                </v-btn>
              </v-row>
              <v-row class="mt-2">
                <v-divider />
              </v-row>
              <v-row class="mt-5">
                <p class="font-weight-light headline">
                  {{ this.$t('userInfo.username') }}: {{ currentUser.username }}
                </p>
              </v-row>
              <v-row>
                <p class="font-weight-light headline">
                  {{ this.$t('userInfo.role') }}: {{ currentUser.roles[0].name }}
                </p>
              </v-row>
              <v-row>
                <p class="font-weight-light headline">
                  {{ this.$t('userInfo.status') }}: {{ currentUser.active ? activeStatusText : disabledStatusText }}
                </p>
              </v-row>
              <v-row>
                <p class="font-weight-light display-1 mt-8">
                  {{ this.$t('userInfo.activeSessions') }}
                </p>
              </v-row>
              <v-row>
                <v-container fluid>
                  <client-only>
                    <v-data-table
                      :items="currentUser.authTokens"
                      :hide-default-footer="true"
                      :headers="authTokenTableHeaders"
                    >
                      <template v-slot:item.actions="{ item }">
                        <v-icon
                          small
                          color="red"
                          @click="revokeToken(item)"
                        >
                          mdi-delete
                        </v-icon>
                      </template>
                    </v-data-table>
                  </client-only>
                </v-container>
              </v-row>
            </v-container>
          </v-layout>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import ENV from '~/env.js'
const NewUserForm = () => import('~/components/admin/NewUserForm.vue')
const DeleteEntityDialog = () => import('~/components/admin/DeleteEntityDialog.vue')
const UpdateUserForm = () => import('~/components/admin/UpdateUserForm.vue')
const UpdateUserPasswordForm = () => import('~/components/admin/UpdateUserPasswordForm.vue')
export default {
  name: 'User',
  middleware: 'IsAdminProtection',
  layout: 'WorkspaceLayout',
  components: {
    NewUserForm,
    DeleteEntityDialog,
    UpdateUserForm,
    UpdateUserPasswordForm
  },
  data: () => ({
    users: [
    ],
    updateCurrentUserOverlay: false,
    newUserOverlay: false,
    updateUserPasswordForm: false,
    deleteCurrentUserOverlay: false,
    currentUserIsLoading: false,
    mockCurrentUser: true,
    currentUser: {
      id: '',
      username: '',
      roles: [
        {
          id: '',
          name: ''
        }
      ]
    }
  }),
  computed: {
    authTokenTableHeaders () {
      return [
        { text: this.$t('userInfo.authTokensTable.ip'), value: 'ipAddress', align: 'start', sortable: false },
        { text: this.$t('userInfo.authTokensTable.deviceInfo'), value: 'deviceInfo', align: 'start', sortable: false },
        { text: this.$t('userInfo.authTokensTable.actions'), value: 'actions', sortable: false, align: 'center' }
      ]
    },
    activeStatusText () {
      return this.$t('userInfo.textStatus.active')
    },
    disabledStatusText () {
      return this.$t('userInfo.textStatus.disabled')
    },
    deleteUserDialogMessage () {
      return this.$t('deleteUserDialog.deletePermissionWarning')
    }
  },
  mounted () {
    this.loadUsers()
  },
  methods: {
    async deleteCurrentUser () {
      try {
        // eslint-disable-next-line no-unused-vars
        const response = await this.$axios.delete(ENV.REMOVE_USER_BY_ID_API_URL + this.currentUser.id, {
          params: {
            lang: this.$i18n.locale
          }
        })
        await this.hideDeleteCurrentUserOverlay()
        await this.loadUsers()
        this.mockCurrentUser = true
        this.$toast.show(this.$t('toast.success_delete_user'), {
          duration: 3500,
          icon: 'delete',
          className: 'vmr',
          action: {
            text: 'ОК',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        })
      } catch (e) {

      }
    },
    async loadUsers () {
      const response = await this.$axios.get(ENV.LOAD_ALL_USERS_API_URL)
      this.users = response.data.users
    },
    handleItemClick (item) {
      this.currentUserIsLoading = true
      this.mockCurrentUser = false
      this.$axios.get(ENV.LOAD_USER_BY_ID_API_URL + item.id).then((res) => {
        this.currentUser = res.data
        this.currentUserIsLoading = false
      })
    },
    async revokeToken (item) {
      try {
        // eslint-disable-next-line no-unused-vars
        const response = await this.$axios.delete(ENV.REMOVE_AUTH_TOKEN_BY_ID_API_URL + item.id, {
          params: {
            lang: this.$i18n.locale
          }
        })
        await this.reloadCurrentUser()
        this.$toast.show(this.$t('toast.success_remove_token'), {
          duration: 3500,
          icon: 'done',
          className: 'vmr',
          action: {
            text: 'ОК',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        })
      } catch (error) {
        const errors = error.response.data.subErrors
        errors.forEach((err) => {
          const errorMessage = err.message
          this.$toast.show(errorMessage, {
            duration: 3500,
            icon: 'info_outline',
            className: 'vmr',
            action: {
              text: 'ОК',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
        })
      }
    },
    hideUpdateUserPasswordForm () {
      this.updateUserPasswordForm = false
    },
    hideUpdateCurrentUserOverlay () {
      this.updateCurrentUserOverlay = false
    },
    hideNewUserOverlay () {
      this.newUserOverlay = false
    },
    hideDeleteCurrentUserOverlay () {
      this.deleteCurrentUserOverlay = false
    },
    async reloadCurrentUser () {
      if (this.currentUser.id !== '') {
        this.currentUserIsLoading = true
        const response = await this.$axios.get(ENV.LOAD_USER_BY_ID_API_URL + this.currentUser.id)
        this.currentUser = response.data
        this.currentUserIsLoading = false
      }
    }
  },
  head () {
    return {
      title: this.$t('appNavigation.user')
    }
  }
}
</script>

<style scoped>
.user-list {
  height: 85vh;
}

.active-user-text {
  color: #51eb4b !important;
}

.disabled-user-text {
  color: #c72014 !important;
}
</style>
