<template>
  <v-card>
    <v-card-title class="font-weight-light headline">
      {{ this.$t('fullPermissionInfoCard.cardTitle') }}
    </v-card-title>
    <v-card-text>
      <v-chip
        :color="permissionStatus.color"
        dark
      >
        <span class="font-weight-light title">
          {{ permissionStatus.status }}
        </span>
      </v-chip>
      <p class="font-weight-light title">
        {{ this.$t('fullPermissionInfoCard.permissionCount') }} : {{ permissionStatus.permissionCount }}
      </p>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'FullPermissionStatusinfoCard',
  props: {
    permissionStatus: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
