<template>
  <v-card>
    <v-card-title class="font-weight-light headline">
      {{ this.$t('fullResourceInfoCard.cardTitle') }}
    </v-card-title>
    <v-card-text>
      <p class="font-weight-light title">
        {{ resource.title }}
      </p>
      <p class="font-weight-light title">
        {{ this.$t('fullResourceInfoCard.permissionCount') }} : {{ resource.permissionCount }}
      </p>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'FullResourceInfoCard',
  props: {
    resource: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
