<template>
  <v-navigation-drawer
    app
    clipped
    permanent
    expand-on-hover
  >
    <v-list
      nav
      dense
    >
      <v-list-item
        v-for="(link, index) in navigationLinks"
        :key="index"
        link
        :to="link.route"
        :color="link.color"
      >
        <v-list-item-icon>
          <v-icon>{{ link.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-title>{{ link.name }}</v-list-item-title>
      </v-list-item>
    </v-list>
    <v-list
      v-if="currentUserIsAdmin"
      nav
      dense
    >
      <v-list-item
        v-for="(link, index) in navigationLinksAdmin"
        :key="index"
        link
        :to="link.route"
        :color="link.color"
      >
        <v-list-item-icon>
          <v-icon>{{ link.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-title>{{ link.name }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'AppNavigation',
  computed: {
    navigationLinks () {
      return [
        {
          icon: 'mdi-account-circle-outline',
          route: '/employee',
          name: this.$t('appNavigation.employee'),
          color: 'info'
        },
        {
          icon: 'mdi-folder-outline',
          route: '/resource',
          name: this.$t('appNavigation.resource'),
          color: 'info'
        },
        {
          icon: 'mdi-domain',
          route: '/department',
          name: this.$t('appNavigation.department'),
          color: 'info'
        }
      ]
    },
    navigationLinksAdmin () {
      return [
        {
          icon: 'mdi-check-all',
          route: '/permission_status',
          name: this.$t('appNavigation.permission_status'),
          color: 'success'
        },
        {
          icon: 'mdi-check-all',
          route: '/employee_status',
          name: this.$t('appNavigation.employee_status'),
          color: 'success'
        },
        {
          icon: 'mdi-account-group',
          route: '/user',
          name: this.$t('appNavigation.user'),
          color: 'success'
        }
      ]
    },
    ...mapGetters([
      'currentUserIsAdmin'
    ])
  }
}
</script>

<style scoped>

</style>
