<template>
  <v-menu
    offset-y
  >
    <template v-slot:activator="{ on }">
      <v-btn
        icon
        v-on="on"
      >
        <v-icon>mdi-translate</v-icon>
      </v-btn>
    </template>

    <v-list>
      <v-list-item
        v-for="(locale, index) in $i18n.locales"
        :key="index"
        @click="changeLocale(locale)"
      >
        <v-list-item-avatar>
          <span
            v-if="locale.code === 'en'"
            class="headline"
          >
            🇺🇸
          </span>
          <span
            v-else-if="locale.code === 'ru'"
            class="headline"
          >
            🇷🇺
          </span>
        </v-list-item-avatar>
        <v-list-item-title v-text="locale.name" />
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: 'LanguagePicker',
  methods: {
    changeLocale (locale) {
      this.$i18n.setLocale(locale.code)
    }
  }
}
</script>

<style scoped>

</style>
