<template>
  <v-bottom-navigation
    grow
    color="primary"
    fixed
  >
    <template>
      <v-btn v-for="(link, index) in navigationLinks" :key="index" :to="link.route">
        <v-icon>{{ link.icon }}</v-icon>
      </v-btn>
    </template>
  </v-bottom-navigation>
</template>

<script>
export default {
  name: 'MobileNavigation',
  data: () => ({
    navigationLinks: [
      { icon: 'mdi-account-circle-outline', route: '/employee', name: 'Работники' },
      { icon: 'mdi-folder-outline', route: '/resource', name: 'Ресурсы' },
      { icon: 'mdi-domain', route: '/department', name: 'Отделы' },
      { icon: 'mdi-help', route: '/help', name: 'Справка' }
    ]
  })
}
</script>

<style scoped>

</style>
