<template>
  <v-app-bar
    dense
    height="42"
    fixed
    flat
    app
    clipped-left
    color="white"
    class="header"
  >
    <v-toolbar-title id="toolbar-title">
      <v-img :src="require('@/assets/MainLogo.jpg')" width="30" height="30" contain :aspect-ratio="200/206" />
    </v-toolbar-title>
    <v-spacer />
    <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          icon
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
          @click="searchClick"
        >
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
      </template>
      <span>
        {{ this.$t("navbar.searchTooltip") }}
      </span>
    </v-tooltip>
    <LanguagePicker />
    <NavbarMenu />
  </v-app-bar>
</template>

<script>
const LanguagePicker = () => import('@/components/window/LanguagePicker.vue')
const NavbarMenu = () => import('@/components/window/NavbarMenu.vue')
export default {
  name: 'Navbar',
  components: {
    NavbarMenu,
    LanguagePicker
  },
  methods: {
    searchClick () {
      this.$router.push('/search')
    }
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

ul {
  margin: auto 5px auto auto;
  list-style: none;
}

a {
  padding: 0px 24px;
  text-decoration: none;
  font-family: Roboto, "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
  color: rgba(0,0,0,.65);
  cursor: pointer;
}

a:hover {
  color: #202124;
}

.header {
  z-index: 1004;
  background-color: white;
  box-shadow: 0px 2px 3px -2px rgba(97, 97, 97, 0.5) !important;
}

/* =================================
  Media Queries
==================================== */

@media (max-width:960px) {
  #nav-links {
    display: none;
  }
}

@media (min-width:960px) {
  #toolbar-title {
    padding-left: 0px;
  }
}
</style>
