<template>
  <div>
    <v-menu :close-on-click="true" :nudge-width="350" offset-y>
      <template v-slot:activator="{ on }">
        <v-avatar color="#2ee6bb" size="36" v-on="on">
          <span class="white--text headline">{{ firstLetterOfUsername }}</span>
        </v-avatar>
      </template>
      <v-card class="card-wrapper">
        <v-card-text>
          <v-row justify="center">
            <v-avatar color="#2ee6bb" size="84">
              <span class="white--text display-3">{{ firstLetterOfUsername }}</span>
            </v-avatar>
          </v-row>
          <v-row justify="center">
            <span class="font-weight-regular pa-2 display-1">
              {{ this.$auth.user.username }}
            </span>
          </v-row>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-row class="button-padding" justify="center">
            <v-btn @click="logout" tile outlined color="info">
              {{ this.$t('navbarMenu.logout') }}
            </v-btn>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-menu>
  </div>
</template>

<script>
export default {
  name: 'NavbarMenu',
  computed: {
    firstLetterOfUsername () {
      return (this.$auth.user) ? this.$auth.user.username.charAt(0).toUpperCase() : ''
    }
  },
  methods: {
    async logout () {
      await this.$auth.logout()
    }
  }
}
</script>

<style scoped>
.card-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
}

.button-padding {
  padding-top: 10px;
}
</style>
